@use 'sass:map';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
  color: var(--d-text-color);
  background-color: map.get($colors, 'white');
  text-size-adjust: 100%;

  @include font-size(1rem);
}

.app-link {
  font: inherit;
  color: var(--#{$variable-prefix}color-primary);
  text-decoration: none;
  transition: color var(--#{$variable-prefix}animation-duration-fast) linear;

  &:hover,
  &:focus {
    color: var(--#{$variable-prefix}color-primary-lighter);
  }

  &:active {
    color: var(--#{$variable-prefix}color-primary-darker);
  }
}
