@use 'sass:map';
@import '~styles/module';

@include b(header) {
  position: relative;
  z-index: 910;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 16px 0 0;
  color: map.get($rd-colors, 'white');
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  background-color: #001529;
  box-shadow: 0 2px 8px 0 var(--#{$rd-prefix}shadow-color);

  @include e(logo-container) {
    display: inline-flex;
    align-items: center;
    font: inherit;
    color: inherit;
    text-decoration: none;
  }

  @include e(logo) {
    display: inline-flex;
    justify-content: center;
    width: 64px;
  }

  @include e(logo-title-wrapper) {
    overflow: hidden;
    transition: width var(--#{$rd-prefix}animation-duration-base) linear;
  }

  @include e(logo-title) {
    white-space: nowrap;
    transform-origin: left;

    @include font-size(1.5rem);
  }

  @include e(button) {
    @include utils-button(true);

    align-self: stretch;
    padding: 0 12px;
    margin: 0;
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    font-size: 18px;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border: none;
    transition: background-color var(--#{$rd-prefix}animation-duration-base) linear;

    &:hover {
      /* stylelint-disable-next-line declaration-property-value-allowed-list */
      background-color: rgb(255 255 255 / 20%);
    }

    &:active {
      /* stylelint-disable-next-line declaration-property-value-allowed-list */
      background-color: rgb(255 255 255 / 14%);
    }
  }
}
