/* stylelint-disable declaration-property-value-allowed-list */
@import '../../ui/src/styles/index';
@import '../../ui/src/styles/theme-dark';

@import './styles/index';

body.light {
  @import '~highlight.js/scss/github';
}

body.dark {
  @import '~highlight.js/scss/github-dark';

  --app-th-background-color: rgb(13 13 13);
  --app-code-background-color: #39393c;
  --app-anchor-toggler-color: #eceef1;

  background-color: rgb(18 18 18);
}
