@import '~styles/module';

@include b(layout) {
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% - 64px);
  overflow: auto;
  transition: width var(--d-animation-duration-base) linear;
}
