@import '~styles/module';

@include b(layout) {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: calc(100% - 64px);

  @include e(content) {
    flex-grow: 1;
    height: 100%;
    overflow: hidden auto;
  }
}
