{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-recommended-scss",
    "stylelint-config-prettier"
  ],
  "rules": {
    "import-notation": null,
    "selector-class-pattern": null,
    "block-no-empty": null
  },
  "overrides": [
    {
      "files": ["*.scss", "**/*.scss"],
      "rules": {
        "selector-pseudo-class-no-unknown": [
          true,
          {
            "ignorePseudoClasses": ["global"]
          }
        ],
        "declaration-property-value-allowed-list": {
          "/color/": ["/var/", "/\\$/", "currentcolor", "transparent", "unset", "inherit"],
          "font-size": ["/var/", "/\\$/", "/[0-9]+em$/", "unset", "inherit"],
          "border-radius": ["/var/", "/\\$/", "50%", "0", "inherit"]
        },
        "declaration-property-value-disallowed-list": {
          "transition": ["/all/", "/[0-9]ms/"]
        }
      }
    },
    {
      "files": ["*.html", "**/*.html"],
      "customSyntax": "postcss-html"
    },
    {
      "files": ["*.md", "**/*.md"],
      "customSyntax": "postcss-markdown"
    }
  ]
}
