@import '~styles/module';

@include b(notification) {
  :global .rd-popover__body {
    width: 320px;
    padding: 0;
  }

  @include m(spinner) {
    :global .rd-popover__body {
      width: unset;
      padding: 16px 32px;
    }
  }

  @include e(item) {
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
    transition: background-color var(--#{$rd-prefix}animation-duration-base) linear;

    &:hover {
      background-color: var(--#{$rd-prefix}background-color-hover);
    }

    @include m(read) {
      pointer-events: none;
      filter: opacity(50%);
    }
  }

  @include e(actions) {
    display: flex;
    align-items: stretch;
    height: 44px;
    border-top: 1px solid var(--#{$rd-prefix}color-divider);

    :global .rd-button {
      flex-grow: 1;
    }
  }
}
