@import '~rfs/scss';

.app-sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 260px;
  height: calc(100% - 64px);
  padding: 0;
  overflow: auto;

  &::after {
    position: absolute;
    top: 20px;
    right: 0;
    width: 1px;
    height: calc(100% - 40px);
    content: '';
    background-color: var(--d-color-divider);
  }
}

.app-sidebar__subtitle {
  margin-left: 4px;
  font-size: 0.8em;
}

.app-sidebar__title {
  margin-left: 8px;
}

.app-sidebar__drawer {
  .d-drawer__header-title {
    display: flex;
    align-items: center;
  }

  .d-drawer__body {
    padding: 0;
  }
}

.app-sidebar__menu {
  a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    &::after {
      position: absolute;
      inset: 0;
      content: '';
    }
  }
}

.app-sidebar__link-button {
  display: flex;
  gap: 0 4px;
  align-items: center;
  justify-content: center;
  height: 46px;
  margin: 20px 16px 10px;
  font: inherit;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--d-color-border);
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  border-radius: 10px;
}
