@import 'size';

@mixin component-date-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: var(--#{$d-prefix}size);
  padding: 0 calc(var(--#{$d-prefix}horizontal-space-size) - 1px);
  vertical-align: top;
  cursor: pointer;
  background-color: var(--#{$d-prefix}background-color-input);
  border: 1px solid var(--#{$d-prefix}color-border);
  border-radius: var(--#{$d-prefix}border-radius);
  transition: border-color var(--#{$d-prefix}animation-duration-base) linear;

  &:hover {
    border-color: var(--#{$d-prefix}color-primary-lighter);
  }

  &[data-form-invalid-warning='true'] {
    border-color: var(--#{$d-prefix}color-warning) !important;

    @include e(input, true) {
      caret-color: var(--#{$d-prefix}color-warning) !important;
    }

    @include e(indicator, true) {
      background-color: var(--#{$d-prefix}color-warning) !important;
    }
  }

  &[data-form-invalid-error='true'] {
    border-color: var(--#{$d-prefix}color-danger) !important;

    @include e(input, true) {
      caret-color: var(--#{$d-prefix}color-danger) !important;
    }

    @include e(indicator, true) {
      background-color: var(--#{$d-prefix}color-danger) !important;
    }
  }

  @include component-size;

  @include when(focus) {
    border-color: var(--#{$d-prefix}color-primary-lighter);
  }

  @include when(disabled) {
    color: var(--#{$d-prefix}color-disabled);
    pointer-events: none;
    background-color: var(--#{$d-prefix}background-color-disabled);

    @include e(input) {
      color: var(--#{$d-prefix}color-disabled);
    }

    @include e(icon) {
      color: var(--#{$d-prefix}color-disabled);
    }
  }

  @include e(input) {
    @include utils-input;

    flex: 1 0 0;
    padding: 0;
    margin: 0;
    color: var(--#{$d-prefix}text-color);
    background-color: transparent;
    border: none;

    &::placeholder {
      color: $d-placeholder-color;
    }

    &:disabled::placeholder {
      color: $d-placeholder-disabled-color;
    }
  }

  @include e(clear) {
    position: absolute;
    right: calc(var(--#{$d-prefix}horizontal-space-size) - 1px);
    z-index: 1;
    font-size: 0.9em;
    color: var(--#{$d-prefix}color-icon-decorator);
    transition: color var(--#{$d-prefix}animation-duration-base) linear;

    &:hover,
    &:focus {
      color: var(--#{$d-prefix}color-primary-lighter);
    }

    &:active {
      color: var(--#{$d-prefix}color-primary-darker);
    }
  }

  @include e(icon) {
    flex-shrink: 0;
    margin-left: 4px;
    font-size: 0.9em;
    color: var(--#{$d-prefix}color-icon-decorator);
  }

  @include e(separator) {
    flex-shrink: 0;
    margin: 0 8px;
    color: var(--#{$d-prefix}color-icon-decorator);
  }

  @include e(indicator) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 2px;
    pointer-events: none;
    background-color: var(--#{$d-prefix}color-primary);
    opacity: 0;
    transition: left var(--#{$d-prefix}animation-duration-slow) linear, opacity var(--#{$d-prefix}animation-duration-base) linear,
      width var(--#{$d-prefix}animation-duration-base) linear;
  }
}
