@mixin component-footer {
  @include e(footer) {
    @include polyfill-column-gap(8px);

    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid var(--#{$rd-prefix}color-divider);

    @include m(left) {
      justify-content: flex-start;
    }

    @include m(right) {
      justify-content: flex-end;
    }

    @include m(center) {
      justify-content: center;
    }
  }
}
