@import '~rfs/scss';

.app-home {
  position: absolute;
  left: 0;
  bottom: 0;
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.app-home__img {
  max-width: 100%;
  max-height: 240px;
  margin: 60px auto 0 auto;
}

.app-home__title {
  text-align: center;
  margin: 40px 0 0 0;

  @include font-size(2.25rem);
}

.app-home__description {
  text-align: center;
  margin: 20px 0 0 0;
  color: rgb(var(--d-text-color-rgb) / 80%);

  @include font-size(1.5rem);
}

.app-home__button-link {
  font: inherit;
  color: inherit;
  text-decoration: none;
  margin: 20px auto 0 auto;

  .d-button {
    --d-size: 52px;
    --d-padding-size: 24px;

    @include font-size(1.25rem);
  }
}

.app-home__footer {
  border-top: 1px solid var(--d-color-border);
  flex-grow: 1;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
  padding: 60px 20px;
  color: #fff;
  margin: 40px 0 0 0;

  a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    transition: color var(--d-animation-duration-fast) linear;
    display: flex;
    align-items: center;
    gap: 0 4px;

    &:hover {
      color: var(--d-color-primary);
    }
  }
}

.app-home__col {
  display: inline-flex;
  flex-direction: column;
  gap: 12px 0;
}

.app-home__col-title {
  margin-bottom: 8px;
  font-weight: 500;

  @include font-size(1.1rem);
}
