@mixin component-notification {
  display: flex;
  border-radius: var(--#{$variable-prefix}border-radius);

  @each $theme, $rgb in $themes {
    @include theme(#{$theme}) {
      @include e(icon) {
        color: var(--#{$variable-prefix}color-#{$theme});
      }
    }
  }

  @include e(icon) {
    flex-shrink: 0;
    margin-right: 16px;
    font-size: 1.75em;
  }

  @include e(content) {
    flex-grow: 1;
  }

  @include e(header) {
    display: flex;
    margin-bottom: 8px;
  }

  @include e(title) {
    flex-grow: 1;
    font-size: 1.1em;
    font-weight: 500;
  }

  @include e(header-actions) {
    display: inline-flex;
    flex-shrink: 0;
    gap: 0 4px;
    align-items: center;

    .#{$variable-prefix}button {
      --#{$variable-prefix}size: 28px !important;
      --#{$variable-prefix}padding-size: 10px !important;
    }
  }

  @include e(close) {
    @include utils-button;

    padding: 0;
    margin: 0;
    color: var(--#{$variable-prefix}color-icon-decorator);
    background-color: transparent;
    border: none;
    transition: color var(--#{$variable-prefix}animation-duration-base) linear;

    &:hover,
    &:focus {
      color: var(--#{$variable-prefix}color-primary-lighter);
    }

    &:active {
      color: var(--#{$variable-prefix}color-primary-darker);
    }
  }
}
