@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  100% {
    box-shadow: 0 0 0 6px var(--#{$variable-prefix}wave-color);
  }
}

@keyframes wave-fade {
  100% {
    opacity: 0;
  }
}

@keyframes radio-wave {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
