@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave-spread {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}
