/* stylelint-disable declaration-property-value-allowed-list */
/* stylelint-disable scss/operator-no-unspaced */
@import '~rfs/scss';

$namespace: 'd' !default;
$variable-prefix: '#{$namespace}-' !default;
$themes: (
  'primary': 94 124 224,
  'success': 45 211 111,
  'warning': 255 196 9,
  'danger': 235 68 90,
) !default;

:root {
  /** z-index **/
  --#{$variable-prefix}disabled-z-index: 10;
  --#{$variable-prefix}active-z-index: 20;
  --#{$variable-prefix}hover-z-index: 21;
  --#{$variable-prefix}absolute-z-index: 100;

  /** size **/
  --#{$variable-prefix}size: 32px;
  --#{$variable-prefix}size-smaller: 28px;
  --#{$variable-prefix}size-larger: 36px;
  --#{$variable-prefix}padding-size: 15px;
  --#{$variable-prefix}padding-size-smaller: 11px;
  --#{$variable-prefix}padding-size-larger: 19px;
  --#{$variable-prefix}margin-size: 8px;
  --#{$variable-prefix}margin-size-smaller: 6px;
  --#{$variable-prefix}margin-size-larger: 10px;
  @include rfs(0.9rem, --#{$variable-prefix}font);
  @include rfs(0.75rem, --#{$variable-prefix}font-smaller);
  @include rfs(1.05rem, --#{$variable-prefix}font-larger);

  /** border-radius **/
  --#{$variable-prefix}border-radius: 2px;
  --#{$variable-prefix}border-radius-larger: 4px;

  /** basic **/
  --#{$variable-prefix}text-color: #212529;
  --#{$variable-prefix}background-color: #fff;
  --#{$variable-prefix}background-color-rgb: 255 255 255;
  --#{$variable-prefix}shadow-color: rgb(0 0 0 / 20%);
  --#{$variable-prefix}divider-color: #eee;
  --#{$variable-prefix}border-color: #d9d9d9;
  --#{$variable-prefix}indicator-background-color: #dfe1e6;
  --#{$variable-prefix}disabled-background-color: #f5f5f5;
  --#{$variable-prefix}disabled-color: #d5d5d5;

  /** step **/
  --#{$variable-prefix}color-step-10: hsl(0deg 0% 99%);
  --#{$variable-prefix}color-step-20: hsl(0deg 0% 98%);
  --#{$variable-prefix}color-step-30: hsl(0deg 0% 97%);
  --#{$variable-prefix}color-step-40: hsl(0deg 0% 96%);
  --#{$variable-prefix}color-step-50: hsl(0deg 0% 95%);
  --#{$variable-prefix}color-step-60: hsl(0deg 0% 94%);
  --#{$variable-prefix}color-step-70: hsl(0deg 0% 93%);
  --#{$variable-prefix}color-step-80: hsl(0deg 0% 92%);
  --#{$variable-prefix}color-step-90: hsl(0deg 0% 91%);
  --#{$variable-prefix}color-step-100: hsl(0deg 0% 90%);
  --#{$variable-prefix}color-step-150: hsl(0deg 0% 85%);
  --#{$variable-prefix}color-step-200: hsl(0deg 0% 80%);
  --#{$variable-prefix}color-step-250: hsl(0deg 0% 75%);
  --#{$variable-prefix}color-step-300: hsl(0deg 0% 70%);
  --#{$variable-prefix}color-step-350: hsl(0deg 0% 65%);
  --#{$variable-prefix}color-step-400: hsl(0deg 0% 60%);
  --#{$variable-prefix}color-step-450: hsl(0deg 0% 55%);
  --#{$variable-prefix}color-step-500: hsl(0deg 0% 50%);
  --#{$variable-prefix}color-step-550: hsl(0deg 0% 45%);
  --#{$variable-prefix}color-step-600: hsl(0deg 0% 40%);
  --#{$variable-prefix}color-step-650: hsl(0deg 0% 35%);
  --#{$variable-prefix}color-step-700: hsl(0deg 0% 30%);
  --#{$variable-prefix}color-step-750: hsl(0deg 0% 25%);
  --#{$variable-prefix}color-step-800: hsl(0deg 0% 20%);
  --#{$variable-prefix}color-step-850: hsl(0deg 0% 15%);
  --#{$variable-prefix}color-step-900: hsl(0deg 0% 10%);
  --#{$variable-prefix}color-step-950: hsl(0deg 0% 5%);

  @each $theme, $rgb in $themes {
    /** rgb **/
    --#{$variable-prefix}color-#{$theme}-rgb: #{$rgb};

    /** theme **/
    --#{$variable-prefix}color-#{$theme}: rgb(#{$rgb});

    /** lighter **/
    --#{$variable-prefix}color-#{$theme}-lighter: #{color.scale(rgb($rgb), $lightness: 30%)};

    /** darker **/
    --#{$variable-prefix}color-#{$theme}-darker: #{color.scale(rgb($rgb), $lightness: -10%, $saturation: -10%)};

    /** background **/
    --#{$variable-prefix}color-#{$theme}-background: #{color.scale(rgb($rgb), $lightness: 90%)};
    --#{$variable-prefix}color-#{$theme}-background-1: #{color.scale(rgb($rgb), $lightness: 91%)};
    --#{$variable-prefix}color-#{$theme}-background-2: #{color.scale(rgb($rgb), $lightness: 92%)};
    --#{$variable-prefix}color-#{$theme}-background-3: #{color.scale(rgb($rgb), $lightness: 93%)};
    --#{$variable-prefix}color-#{$theme}-background-4: #{color.scale(rgb($rgb), $lightness: 94%)};
    --#{$variable-prefix}color-#{$theme}-background-5: #{color.scale(rgb($rgb), $lightness: 95%)};
    --#{$variable-prefix}color-#{$theme}-background-6: #{color.scale(rgb($rgb), $lightness: 96%)};
    --#{$variable-prefix}color-#{$theme}-background-7: #{color.scale(rgb($rgb), $lightness: 97%)};
    --#{$variable-prefix}color-#{$theme}-background-8: #{color.scale(rgb($rgb), $lightness: 98%)};
    --#{$variable-prefix}color-#{$theme}-background-9: #{color.scale(rgb($rgb), $lightness: 99%)};
  }

  /** component **/
  --#{$variable-prefix}tooltip-text-color: #dfe1e6;
  --#{$variable-prefix}tooltip-background-color: #464d6e;
  --#{$variable-prefix}mask-background-color: rgb(0 0 0 / 20%);
  --#{$variable-prefix}empty-color: #a8afbc;
}
