/* stylelint-disable declaration-property-value-allowed-list */
/* stylelint-disable scss/operator-no-unspaced */
@import '~rfs/scss';

$namespace: 'd' !default;
$variable-prefix: '#{$namespace}-' !default;
$themes: (
  'primary': 94 124 224,
  'success': 45 211 111,
  'warning': 255 196 9,
  'danger': 235 68 90,
) !default;

:root {
  /** z-index **/
  --#{$variable-prefix}zindex-active: 20;
  --#{$variable-prefix}zindex-hover: 30;
  --#{$variable-prefix}zindex-absolute: 100;
  --#{$variable-prefix}zindex-sticky: 900;
  --#{$variable-prefix}zindex-fixed: 1000;
  --#{$variable-prefix}zindex-max: 10000;

  /** size **/
  --#{$variable-prefix}size: 36px;
  --#{$variable-prefix}size-smaller: 32px;
  --#{$variable-prefix}size-larger: 40px;
  --#{$variable-prefix}padding-size: 16px;
  --#{$variable-prefix}padding-size-smaller: 12px;
  --#{$variable-prefix}padding-size-larger: 20px;
  --#{$variable-prefix}horizontal-space-size: 12px;
  --#{$variable-prefix}horizontal-space-size-smaller: 10px;
  --#{$variable-prefix}horizontal-space-size-larger: 14px;
  --#{$variable-prefix}margin-size: 8px;
  --#{$variable-prefix}margin-size-smaller: 6px;
  --#{$variable-prefix}margin-size-larger: 10px;
  @include rfs(1rem, --#{$variable-prefix}font);
  @include rfs(0.85rem, --#{$variable-prefix}font-smaller);
  @include rfs(1.1rem, --#{$variable-prefix}font-larger);

  /** border-radius **/
  --#{$variable-prefix}border-radius: 2px;
  --#{$variable-prefix}border-radius-larger: 4px;

  /** shadow **/
  --#{$variable-prefix}shadow-color: rgb(0 0 0 / 20%);
  --#{$variable-prefix}shadow-popup: rgb(0 0 0 / 6%) 0 0 20px 2px, rgb(0 0 0 / 10%) 0 4px 10px 0;
  --#{$variable-prefix}shadow-dialog: rgb(0 0 0 / 6%) 0 0 32px 2px, rgb(0 0 0 / 10%) 0 4px 12px 0;
  --#{$variable-prefix}shadow-normal: 16%;
  --#{$variable-prefix}shadow-darker: 26%;

  /** basic **/
  --#{$variable-prefix}text-color: rgb(33 37 41);
  --#{$variable-prefix}text-color-rgb: 33 37 41;
  --#{$variable-prefix}background-color: rgb(255 255 255);
  --#{$variable-prefix}background-color-rgb: 255 255 255;
  --#{$variable-prefix}background-color-hover: rgb(0 0 0 / 4%);
  --#{$variable-prefix}background-color-input: #fff;
  --#{$variable-prefix}background-color-indicator: #dfe1e6;
  --#{$variable-prefix}background-color-disabled: #f5f5f5;
  --#{$variable-prefix}color-divider: #eee;
  --#{$variable-prefix}color-border: #d9d9d9;
  --#{$variable-prefix}color-disabled: #d5d5d5;

  /** step **/
  --#{$variable-prefix}color-step-10: hsl(0deg 0% 99%);
  --#{$variable-prefix}color-step-20: hsl(0deg 0% 98%);
  --#{$variable-prefix}color-step-30: hsl(0deg 0% 97%);
  --#{$variable-prefix}color-step-40: hsl(0deg 0% 96%);
  --#{$variable-prefix}color-step-50: hsl(0deg 0% 95%);
  --#{$variable-prefix}color-step-60: hsl(0deg 0% 94%);
  --#{$variable-prefix}color-step-70: hsl(0deg 0% 93%);
  --#{$variable-prefix}color-step-80: hsl(0deg 0% 92%);
  --#{$variable-prefix}color-step-90: hsl(0deg 0% 91%);
  --#{$variable-prefix}color-step-100: hsl(0deg 0% 90%);
  --#{$variable-prefix}color-step-150: hsl(0deg 0% 85%);
  --#{$variable-prefix}color-step-200: hsl(0deg 0% 80%);
  --#{$variable-prefix}color-step-250: hsl(0deg 0% 75%);
  --#{$variable-prefix}color-step-300: hsl(0deg 0% 70%);
  --#{$variable-prefix}color-step-350: hsl(0deg 0% 65%);
  --#{$variable-prefix}color-step-400: hsl(0deg 0% 60%);
  --#{$variable-prefix}color-step-450: hsl(0deg 0% 55%);
  --#{$variable-prefix}color-step-500: hsl(0deg 0% 50%);
  --#{$variable-prefix}color-step-550: hsl(0deg 0% 45%);
  --#{$variable-prefix}color-step-600: hsl(0deg 0% 40%);
  --#{$variable-prefix}color-step-650: hsl(0deg 0% 35%);
  --#{$variable-prefix}color-step-700: hsl(0deg 0% 30%);
  --#{$variable-prefix}color-step-750: hsl(0deg 0% 25%);
  --#{$variable-prefix}color-step-800: hsl(0deg 0% 20%);
  --#{$variable-prefix}color-step-850: hsl(0deg 0% 15%);
  --#{$variable-prefix}color-step-900: hsl(0deg 0% 10%);
  --#{$variable-prefix}color-step-950: hsl(0deg 0% 5%);

  @each $theme, $rgb in $themes {
    /** rgb **/
    --#{$variable-prefix}color-#{$theme}-rgb: #{$rgb};

    /** theme **/
    --#{$variable-prefix}color-#{$theme}: rgb(#{$rgb});

    /** lighter **/
    --#{$variable-prefix}color-#{$theme}-lighter: #{color.scale(rgb($rgb), $lightness: 30%)};

    /** darker **/
    --#{$variable-prefix}color-#{$theme}-darker: #{color.scale(rgb($rgb), $lightness: -10%, $saturation: -10%)};

    /** background **/
    --#{$variable-prefix}background-color-#{$theme}: #{color.scale(rgb($rgb), $alpha: -90%)};
    --#{$variable-prefix}background-color-hover-#{$theme}: #{color.scale(rgb($rgb), $alpha: -96%)};
  }

  /** component **/
  --#{$variable-prefix}tooltip-text-color: #dfe1e6;
  --#{$variable-prefix}tooltip-background-color: #464d6e;
  --#{$variable-prefix}mask-background-color: rgb(0 0 0 / 20%);
  --#{$variable-prefix}empty-color: #a8afbc;
  --#{$variable-prefix}switch-background-color: #d4d6d9;
  --#{$variable-prefix}tag-background-color: rgb(0 0 0 / 6%);
}
