/* stylelint-disable declaration-property-value-allowed-list */
$rd-namespace: 'rd' !default;
$rd-prefix: '#{$rd-namespace}-' !default;

$rd-themes: (
  'primary': 94 124 224,
  'success': 45 211 111,
  'warning': 255 196 9,
  'danger': 235 68 90,
) !default;

$rd-colors: (
  'white': #fff,
  'black': #000,
) !default;

$rd-placeholder-color: rgb(var(--#{$rd-prefix}text-color-rgb) / 24%) !default;
$rd-placeholder-disabled-color: rgb(var(--#{$rd-prefix}text-color-rgb) / 8%) !default;

$rd-font-weight-bold: 600 !default;
