@keyframes wave-wave {
  0% {
    box-shadow: 0 0 0 0 var(--#{$variable-prefix}wave-color);
  }

  100% {
    box-shadow: 0 0 0 6px var(--#{$variable-prefix}wave-color);
  }
}

@keyframes wave-fade-out {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

@include b(wave) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-radius: inherit;

  animation: wave-wave 0.4s cubic-bezier(0.08, 0.82, 0.17, 1), wave-fade-out 2s cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-fill-mode: both;

  pointer-events: none;
}
