@mixin button-hover-focus {
  &:not([disabled]):not(.is-loading):hover,
  &:not([disabled]):not(.is-loading):focus {
    z-index: var(--#{$variable-prefix}hover-focus-z-index);
    @content;
  }
}

@mixin button-active {
  &:not([disabled]):not(.is-loading):active {
    z-index: var(--#{$variable-prefix}active-z-index);
    @content;
  }
}

@include b(button) {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  margin: 0;
  padding: 0 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

  font-family: inherit;
  line-height: inherit;
  white-space: nowrap;

  text-align: unset;
  text-transform: none;

  outline: none;

  cursor: pointer;

  transition: all 0.2s linear;

  appearance: button;

  @include font-size(0.9rem);

  @include utils-disabled(1px, ':disabled');
  @include utils-disabled(1px, '.is-loading');

  & + & {
    margin-left: 10px;
  }

  @each $theme, $rgb in $themes {
    &.#{$variable-prefix}button--primary-#{$theme} {
      border-color: var(--#{$variable-prefix}color-#{$theme});

      color: #fff;

      background-color: var(--#{$variable-prefix}color-#{$theme});

      @include button-hover-focus {
        border-color: var(--#{$variable-prefix}color-#{$theme}-lighter);

        color: #fff;

        background-color: var(--#{$variable-prefix}color-#{$theme}-lighter);
      }

      @include button-active {
        border-color: var(--#{$variable-prefix}color-#{$theme}-darker);

        color: #fff;

        background-color: var(--#{$variable-prefix}color-#{$theme}-darker);
      }
    }

    &.#{$variable-prefix}button--secondary-#{$theme} {
      border-color: var(--#{$variable-prefix}color-step-150);

      color: var(--#{$variable-prefix}text-color);

      background-color: transparent;

      @include button-hover-focus {
        border-color: var(--#{$variable-prefix}color-#{$theme}-lighter);

        color: var(--#{$variable-prefix}color-#{$theme}-lighter);

        background-color: transparent;
      }

      @include button-active {
        border-color: var(--#{$variable-prefix}color-#{$theme}-darker);

        color: var(--#{$variable-prefix}color-#{$theme}-darker);

        background-color: transparent;
      }
    }

    &.#{$variable-prefix}button--outline-#{$theme},
    &.#{$variable-prefix}button--dashed-#{$theme} {
      border-color: var(--#{$variable-prefix}color-#{$theme});

      color: var(--#{$variable-prefix}color-#{$theme});

      background-color: transparent;

      @include button-hover-focus {
        border-color: var(--#{$variable-prefix}color-#{$theme}-lighter);

        color: var(--#{$variable-prefix}color-#{$theme}-lighter);

        background-color: transparent;
      }

      @include button-active {
        border-color: var(--#{$variable-prefix}color-#{$theme}-darker);

        color: var(--#{$variable-prefix}color-#{$theme}-darker);

        background-color: transparent;
      }
    }

    &.#{$variable-prefix}button--dashed-#{$theme} {
      border-style: dashed;
    }

    &.#{$variable-prefix}button--text-#{$theme} {
      border-color: transparent;

      background-color: transparent;

      @include button-hover-focus {
        border-color: transparent;

        color: var(--#{$variable-prefix}color-#{$theme}-lighter);

        background-color: var(--#{$variable-prefix}color-#{$theme}-background-6);
      }

      @include button-active {
        border-color: transparent;

        color: var(--#{$variable-prefix}color-#{$theme}-darker);

        background-color: var(--#{$variable-prefix}color-#{$theme}-background);
      }
    }

    &.#{$variable-prefix}button--link-#{$theme} {
      border-color: transparent;

      color: var(--#{$variable-prefix}color-#{$theme});

      background-color: transparent;

      @include button-hover-focus {
        border-color: transparent;

        color: var(--#{$variable-prefix}color-#{$theme}-lighter);

        background-color: transparent;
      }

      @include button-active {
        border-color: transparent;

        color: var(--#{$variable-prefix}color-#{$theme}-darker);

        background-color: transparent;
      }
    }
  }

  @include m(circle) {
    border-radius: 50%;
  }

  @include m(round) {
    border-radius: 32px;
  }

  @include m(smaller) {
    min-width: 28px;
    min-height: 28px;
    padding: 0 10px;

    @include font-size(0.75rem);
  }

  @include m(larger) {
    min-width: 38px;
    min-height: 38px;
    padding: 0 20px;

    @include font-size(1.05rem);
  }

  @include when(block) {
    width: 100%;

    & + & {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  @include when(only-icon) {
    &:not(.#{$variable-prefix}button--round) {
      padding: 0;
    }

    .#{$variable-prefix}button__icon {
      width: auto;

      font-size: 1.2em;
    }
  }

  @include e(icon) {
    display: inline-block;
    width: calc(1em + 8px);

    @include when(right) {
      text-align: right;
    }
  }
}

@include b(button-group) {
  display: inline-flex;
  align-items: center;

  .#{$variable-prefix}button {
    flex: 0 0 auto;
  }

  & + & {
    margin-left: 10px;
  }

  .#{$variable-prefix}button:not(.#{$variable-prefix}button:nth-child(1)):not(.#{$variable-prefix}button:last-child) {
    border-radius: 0;
  }

  .#{$variable-prefix}button:nth-child(1):not(.#{$variable-prefix}button:only-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .#{$variable-prefix}button:last-child:not(.#{$variable-prefix}button:only-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .#{$variable-prefix}button + .#{$variable-prefix}button {
    margin-left: -1px;
  }
}
