@include b(drawer) {
  @include e(content) {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: hidden;

    @include m(top) {
      top: 0;
      left: 0;

      width: 100%;
      border-radius: 0 0 2px 2px;
    }

    @include m(bottom) {
      bottom: 0;
      left: 0;

      width: 100%;
      border-radius: 2px 2px 0 0;
    }

    @include m(left) {
      top: 0;
      left: 0;

      height: 100%;
      border-radius: 0 2px 2px 0;
    }

    @include m(right) {
      top: 0;
      right: 0;

      height: 100%;
      border-radius: 2px 0 0 2px;
    }
  }

  @include e(content-body) {
    position: relative;

    flex-grow: 1;
    padding: 20px;
    overflow: auto;
  }
}
