$dropdown-item-height: 32px;

@mixin dropdown-item() {
  position: relative;

  display: flex;
  align-items: center;
  height: $dropdown-item-height;
  margin: 0;

  list-style: none;
  cursor: pointer;

  transition: background-color 0.2s ease-out;

  &:not(.is-disabled) {
    &:focus,
    &:hover {
      background-color: var(--#{$variable-prefix}color-step-50);
    }
  }

  @include utils-outline;
  @include utils-disabled;

  @include e(icon) {
    flex-shrink: 0;
    width: calc(1.05rem + 8px);

    @include font-size(1.05rem);
  }

  @include e(title) {
    flex-grow: 1;
    flex-shrink: 0;

    @include utils-ellipsis;
  }
}

@mixin dropdown-empty() {
  @include e(empty) {
    display: flex;
    align-items: center;
    width: 100%;
    height: $dropdown-item-height;
    padding: 0 12px;

    color: var(--#{$variable-prefix}color-step-400);
  }
}

@include b(dropdown) {
  position: relative;

  min-width: 120px;

  padding: 4px 0;
  overflow-x: hidden;

  @include font-size(0.95rem);

  @include dropdown-empty;
}

@include b(dropdown-item) {
  padding: 0 12px;

  @include dropdown-item;
}

@include b(dropdown-sub) {
  padding: 0 24px 0 12px;

  @include dropdown-item;
  @include dropdown-empty;

  @include when(disabled) {
    @include e(arrow) {
      color: inherit;
    }
  }

  @include e(arrow) {
    position: absolute;
    right: 6px;

    display: inline-flex;
    align-items: center;

    height: 100%;

    color: var(--#{$variable-prefix}color-step-450);
  }

  @include e(list) {
    position: relative;

    min-width: 120px;
    margin: 0;

    padding: 4px 0;
    overflow-x: hidden;

    list-style: none;
  }
}

@include b(dropdown-group) {
  position: relative;

  display: flex;
  align-items: center;
  height: $dropdown-item-height;
  margin: 0;
  padding: 0 12px;

  color: var(--#{$variable-prefix}color-step-400);

  list-style: none;

  @include font-size(0.85rem);

  @include utils-outline;
  @include utils-ellipsis;
  @include dropdown-empty;
}

@include b(dropdown-popup) {
  box-shadow: 0 4px 20px 0 var(--#{$variable-prefix}shadow-color);
}

@include b(dropdown-sub-popup) {
  box-shadow: 0 4px 20px 0 var(--#{$variable-prefix}shadow-color);
}
