@include b(footer) {
  position: relative;

  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-top: 1px solid var(--#{$variable-prefix}divider-color);

  @include m(left) {
    justify-content: left;
  }

  @include m(right) {
    justify-content: right;
  }

  @include m(center) {
    justify-content: center;
  }
}
