@include b(header) {
  position: relative;

  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid var(--#{$variable-prefix}color-divider);

  @include e(title) {
    display: inline-flex;
    align-items: center;

    font-size: 1.15em;
  }

  @include e(buttons) {
    display: inline-flex;
    gap: 0 8px;
    align-items: center;
    margin-left: auto;
  }
}
