@include b(input) {
  $selector: &;

  display: inline-block;
  width: 100%;
  height: var(--#{$variable-prefix}size);
  margin: 0;
  padding: 3px 9px;
  border: 1px solid var(--#{$variable-prefix}border-color);
  border-radius: var(--#{$variable-prefix}border-radius);

  color: var(--#{$variable-prefix}text-color);
  font: inherit;
  font-size: var(--#{$variable-prefix}font);
  letter-spacing: inherit;

  background-color: var(--#{$variable-prefix}input-background-color);

  outline: none;

  transition: border-color 0.2s linear;

  appearance: none;
  caret-color: var(--#{$variable-prefix}color-primary);

  @include utils-disabled(true, ':disabled');

  @at-root {
    .#{$variable-prefix}compose,
    .#{$variable-prefix}input-affix {
      #{$selector} {
        flex-grow: 1;
        width: 0;
      }
    }
  }

  &[type='number'] {
    appearance: textfield; /* Firefox */

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */

      /* display: none; <- Crashes Chrome on hover */
      appearance: none;
    }
  }

  &:not(:disabled) {
    @include form-validate;

    &:hover {
      z-index: var(--#{$variable-prefix}hover-z-index);

      border-color: var(--#{$variable-prefix}color-primary-lighter);
    }

    &:focus {
      z-index: var(--#{$variable-prefix}hover-z-index);

      border-color: var(--#{$variable-prefix}color-primary);
    }
  }

  &::placeholder {
    color: rgb(var(--#{$variable-prefix}text-color-rgb) / 40%);

    transform: translateX(1px);
  }

  &:disabled::placeholder {
    color: rgb(var(--#{$variable-prefix}text-color-rgb) / 10%);
  }

  @include m(smaller) {
    --#{$variable-prefix}size: var(--#{$variable-prefix}size-smaller);
    --#{$variable-prefix}font: var(--#{$variable-prefix}font-smaller);
  }

  @include m(larger) {
    --#{$variable-prefix}size: var(--#{$variable-prefix}size-larger);
    --#{$variable-prefix}font: var(--#{$variable-prefix}font-larger);
  }
}

@include b(input-affix) {
  --#{$variable-prefix}input-affix-space: 11px;

  $selector: &;

  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0 var(--#{$variable-prefix}input-affix-space);
  border: 1px solid var(--#{$variable-prefix}border-color);
  border-radius: var(--#{$variable-prefix}border-radius);

  font-size: var(--#{$variable-prefix}font);

  background-color: var(--#{$variable-prefix}input-background-color);

  transition: border-color 0.2s linear;

  @include utils-disabled(true);

  @at-root {
    .#{$variable-prefix}compose {
      #{$selector} {
        flex-grow: 1;
        width: 0;

        @include m(number) {
          flex-grow: unset;
          width: auto;
        }
      }
    }
  }

  &:not(.is-disabled) {
    @include form-validate;

    &:hover {
      z-index: var(--#{$variable-prefix}hover-z-index);

      border-color: var(--#{$variable-prefix}color-primary-lighter);
    }

    @include when(focus) {
      z-index: var(--#{$variable-prefix}hover-z-index);

      border-color: var(--#{$variable-prefix}color-primary);
    }
  }

  .#{$variable-prefix}input {
    height: calc(var(--#{$variable-prefix}size) - 2px);
    padding: 0;
    border: none;
  }

  @include m(number) {
    width: auto;

    .#{$variable-prefix}input {
      width: 4em;
    }

    &:not(.is-disabled) {
      padding-right: 0;
      .#{$variable-prefix}input-affix__suffix {
        margin-right: var(--#{$variable-prefix}input-affix-space);
      }
    }
  }

  @include m(smaller) {
    --#{$variable-prefix}input-affix-space: 7px;
    --#{$variable-prefix}font: var(--#{$variable-prefix}font-smaller);
  }

  @include m(larger) {
    --#{$variable-prefix}input-affix-space: 15px;
    --#{$variable-prefix}font: var(--#{$variable-prefix}font-larger);
  }

  @include e(prefix) {
    flex-shrink: 0;
    margin-right: 4px;
  }

  @include e(suffix) {
    flex-shrink: 0;
    margin-left: 4px;
  }

  @include e(clear) {
    flex-shrink: 0;
    min-width: unset;
    height: 22px;
    margin-left: 4px;

    color: var(--d-color-step-400);

    transition: color 0.2s linear, opacity 133ms linear;
  }

  @include e(password) {
    flex-shrink: 0;
    min-width: unset;
    height: 22px;
    margin-left: 4px;

    color: var(--d-color-step-400);
  }

  @include e(number-container) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4px;
  }

  @include e(number) {
    flex-grow: 1;
    width: 24px;
    min-width: unset;
    height: unset;

    color: var(--d-color-step-400);

    & + & {
      margin: 0;
    }
  }
}
