$menu-item-height: 40px;

@mixin menu-list() {
  @include e(list) {
    position: relative;

    margin: 0;
    padding: 0;

    list-style: none;
  }
}

@mixin menu-empty() {
  @include e(empty) {
    display: flex;
    align-items: center;
    height: $menu-item-height;

    color: var(--#{$variable-prefix}color-step-400);
  }
}

@mixin menu-item() {
  $selector: &;

  position: relative;

  display: flex;
  align-items: center;
  height: $menu-item-height;
  margin: 0;

  list-style: none;
  cursor: pointer;

  transition: color 0.2s linear, background-color 0.2s linear;

  &:not(.is-disabled) {
    &:focus,
    &:hover {
      color: var(--#{$variable-prefix}color-primary);

      background-color: var(--#{$variable-prefix}background-color-hover-primary);
    }
  }

  @include utils-outline;
  @include utils-disabled;

  @include m(horizontal) {
    display: inline-flex;
    min-width: unset;

    &:not(.is-disabled) {
      &:focus,
      &:hover {
        background-color: transparent;
      }
    }

    &::after {
      position: absolute;
      right: 16px;
      bottom: -5px;
      left: 16px;

      height: 2px;

      background-color: transparent;
      transform: scaleX(0.8);

      transition: background-color 0.2s linear, transform 166ms linear;

      content: '';
    }

    @include when(active) {
      &::after {
        background-color: var(--#{$variable-prefix}color-primary-lighter);
        transform: scaleX(1);
      }
    }

    @include e(title) {
      flex-shrink: 0;
    }
  }

  @include m(icon) {
    height: 52px;

    @include e(icon) {
      width: 64px;
      padding-right: 16px;

      & > .#{$variable-prefix}icon {
        transform: translateX(12px) scale(1.5);
      }
    }
  }

  @include when(active) {
    color: var(--#{$variable-prefix}color-primary);
    font-weight: 500;

    &:not(#{$selector}--horizontal) {
      @include e(indicator) {
        & > div::before {
          transform: scaleY(1);
        }
      }
    }
  }

  @include e(icon) {
    flex-shrink: 0;
    width: calc(1.05rem + 12px);

    font-size: 1.1em;

    transition: height 0.2s linear;

    & > .#{$variable-prefix}icon {
      transition: transform 0.2s linear, width 0.2s linear;
    }
  }

  @include e(title) {
    flex-grow: 1;
    min-width: 1em;

    @include utils-ellipsis;
  }
}

@mixin menu-indicator() {
  @include js(first) {
    @include e(indicator) {
      & > div {
        bottom: 0;

        height: calc(100% - 8px);

        &::before {
          top: 0;

          height: calc(100% - 8px);

          transform-origin: top;
        }
      }
    }
  }

  @include js(last) {
    @include e(indicator) {
      & > div {
        top: 0;

        height: calc(100% - 8px);

        &::before {
          bottom: 0;

          height: calc(100% - 8px);

          transform-origin: bottom;
        }
      }
    }
  }

  @include e(indicator) {
    position: relative;

    width: 0;
    height: 100%;

    & > div {
      position: absolute;
      left: -8px;

      width: 2px;
      height: 100%;

      background-color: var(--#{$variable-prefix}background-color-indicator);

      &::before {
        position: absolute;

        top: 8px;
        left: 0;

        display: block;
        width: 2px;
        height: calc(100% - 16px);

        background-color: var(--#{$variable-prefix}color-primary-lighter);
        transform: scaleY(0);

        transition: transform 0.2s linear;

        content: '';
      }
    }
  }
}

@include b(menu) {
  position: relative;

  padding: 8px 0;

  &:not(&--horizontal) {
    overflow-x: hidden;
  }

  @include m(horizontal) {
    white-space: nowrap;

    &::after {
      position: absolute;
      right: 4px;
      bottom: 10px;
      left: 4px;
      z-index: -1;

      height: 1px;

      background-color: var(--#{$variable-prefix}background-color-indicator);

      content: '';
    }
  }
}

@include b(menu-group) {
  position: relative;

  display: flex;
  align-items: center;
  height: $menu-item-height;
  margin: 0;
  padding: 0 16px;

  color: var(--#{$variable-prefix}color-step-400);
  font-size: 0.9em;

  @include utils-outline;
  @include utils-ellipsis;

  @include menu-empty;
}

@include b(menu-sub) {
  $selector: &;

  padding: 0 32px 0 16px;

  &:not(.is-disabled) {
    &:focus,
    &:hover {
      @include e(arrow) {
        color: var(--#{$variable-prefix}color-primary-lighter);
      }
    }
  }

  @include menu-item;
  @include menu-indicator;
  @include menu-list;
  @include menu-empty;

  @include m(horizontal) {
    @include when(expand) {
      &::after {
        background-color: var(--#{$variable-prefix}color-primary-lighter);
        transform: scaleX(1);
      }
    }
  }

  @include m(icon) {
    @include e(arrow) {
      opacity: 0;
    }
  }

  @include when(active) {
    @include e(arrow) {
      color: var(--#{$variable-prefix}color-primary-lighter);
    }
  }

  @include when(expand) {
    color: var(--#{$variable-prefix}color-primary);

    @include e(arrow) {
      color: var(--#{$variable-prefix}color-primary-lighter);
    }
  }

  @include when(disabled) {
    @include e(arrow) {
      color: inherit;
    }
  }

  @include e(arrow) {
    position: absolute;
    right: 12px;

    display: inline-flex;
    align-items: center;

    height: 100%;

    color: var(--#{$variable-prefix}color-step-450);

    transition: color 0.2s linear, transform 0.2s linear;
  }
}

@include b(menu-item) {
  padding: 0 16px;

  @include menu-item;
  @include menu-indicator;

  @include m(horizontal) {
    &:not(.is-disabled) {
      &:focus,
      &:hover {
        &::after {
          background-color: var(--#{$variable-prefix}color-primary-lighter);
          transform: scaleX(1);
        }
      }
    }
  }
}

@include b(menu-sub-popup) {
  border-radius: var(--#{$variable-prefix}border-radius);

  box-shadow: var(--#{$variable-prefix}shadow-popup);

  .#{$variable-prefix}menu-sub__arrow {
    right: 6px;
  }

  .#{$variable-prefix}menu-sub__list {
    padding: 4px;

    .#{$variable-prefix}menu-group {
      padding-right: 8px;
    }
    .#{$variable-prefix}menu-sub {
      padding-right: 24px;
    }
  }
}
