@include b(modal) {
  @include e(body) {
    position: relative;

    padding: 20px;
    overflow: auto;
  }

  @include e(content) {
    position: relative;

    top: 100px;

    margin: 0 auto;
  }
}
