@mixin notification-root {
  position: fixed;
  z-index: 10000;

  pointer-events: none;
}

##{$variable-prefix}notification-lt-root {
  top: 20px;
  left: 20px;

  @include notification-root;
}

##{$variable-prefix}notification-rt-root {
  top: 20px;
  right: 20px;

  @include notification-root;
}

##{$variable-prefix}notification-lb-root {
  bottom: 20px;
  left: 20px;

  @include notification-root;
}

##{$variable-prefix}notification-rb-root {
  right: 20px;
  bottom: 20px;

  @include notification-root;
}

@include b(notification) {
  position: relative;

  display: flex;
  width: 380px;
  max-width: calc(100vw - 40px);

  margin-bottom: 20px;
  padding: 16px 24px;
  border-radius: var(--#{$variable-prefix}border-radius);

  background-color: var(--#{$variable-prefix}background-color);
  outline: none;
  box-shadow: 0 4px 20px 0 var(--#{$variable-prefix}shadow-color);

  pointer-events: all;

  @include e(icon) {
    flex-shrink: 0;
    margin-right: 16px;

    font-size: 1.75em;
  }

  @include e(content) {
    flex-grow: 1;
  }

  @include e(title) {
    margin-bottom: 8px;

    font-size: 1.15em;
  }

  @include e(close, true) {
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 1;

    width: 28px;
    min-width: unset;
    height: 28px;

    color: var(--#{$variable-prefix}color-step-400);
  }
}
