@mixin popup-arrow() {
  @include e(arrow) {
    $selector: &;
    &:not(#{$selector}--custom) {
      @content;
    }
  }
}

@include b(popup) {
  position: fixed;

  font-weight: 400;

  background-color: var(--#{$variable-prefix}popup-background-color);

  @include font-size(1rem);

  @include m(top) {
    @include popup-arrow {
      bottom: 0;
      left: 50%;

      transform: translate(-50%, 50%) rotate(45deg);
    }
  }

  @include m(top-left) {
    @include popup-arrow {
      bottom: 0;
      left: 20px;

      transform: translate(0, 50%) rotate(45deg);
    }
  }

  @include m(top-right) {
    @include popup-arrow {
      right: 20px;
      bottom: 0;

      transform: translate(0, 50%) rotate(45deg);
    }
  }

  @include m(right) {
    @include popup-arrow {
      top: 50%;
      left: 0;

      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  @include m(right-top) {
    @include popup-arrow {
      top: 12px;
      left: 0;

      transform: translate(-50%, 0) rotate(45deg);
    }
  }

  @include m(right-bottom) {
    @include popup-arrow {
      bottom: 12px;
      left: 0;

      transform: translate(-50%, 0) rotate(45deg);
    }
  }

  @include m(bottom) {
    @include popup-arrow {
      top: 0;
      left: 50%;

      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  @include m(bottom-left) {
    @include popup-arrow {
      top: 0;
      left: 20px;

      transform: translate(0, -50%) rotate(45deg);
    }
  }

  @include m(bottom-right) {
    @include popup-arrow {
      top: 0;
      right: 20px;

      transform: translate(0, -50%) rotate(45deg);
    }
  }

  @include m(left) {
    @include popup-arrow {
      top: 50%;
      right: 0;

      transform: translate(50%, -50%) rotate(45deg);
    }
  }

  @include m(left-top) {
    @include popup-arrow {
      top: 12px;
      right: 0;

      transform: translate(50%, 0) rotate(45deg);
    }
  }

  @include m(left-bottom) {
    @include popup-arrow {
      right: 0;
      bottom: 12px;

      transform: translate(50%, 0) rotate(45deg);
    }
  }

  @include e(arrow) {
    position: absolute;
    z-index: -1;

    width: 6px;
    height: 6px;

    background-color: inherit;
  }
}
