@mixin button-radio {
  $radio-selector: '.#{$variable-prefix}radio';

  flex-wrap: nowrap;

  &#{$radio-selector}-group--vertical {
    #{$radio-selector} + #{$radio-selector} {
      margin-top: -1px;
      margin-left: 0;
    }
  }

  #{$radio-selector} + #{$radio-selector} {
    margin-left: -1px;
  }

  #{$radio-selector} {
    height: var(--#{$variable-prefix}size);
    border: 1px solid var(--#{$variable-prefix}border-color);

    transition: border-color 116ms ease-out, background-color 116ms ease-out;

    &:first-of-type {
      border-radius: 2px 0 0 2px;
    }

    &:last-of-type {
      border-radius: 0 2px 2px 0;
    }

    &:not(.is-disabled) {
      @include when(checked) {
        z-index: 5;

        border-color: var(--#{$variable-prefix}color-primary);
      }

      &:not(.is-checked):hover {
        z-index: 1;

        border-color: var(--#{$variable-prefix}color-primary-lighter);

        color: var(--#{$variable-prefix}color-primary-lighter);
      }
    }

    @include when(disabled) {
      background-color: var(--#{$variable-prefix}disabled-background-color);

      @include when(checked) {
        color: rgb(var(--#{$variable-prefix}color-primary-rgb) / 50%);
      }
    }

    #{$radio-selector}__input-wrapper {
      width: 0;
      height: 0;
      overflow: hidden;
    }

    #{$radio-selector}__label {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 var(--#{$variable-prefix}padding-size);
    }
  }
}

@include b(radio) {
  position: relative;

  display: inline-flex;
  align-items: center;

  font-size: var(--#{$variable-prefix}font);

  cursor: pointer;

  @include utils-disabled;

  &:not(.is-disabled) {
    &:hover {
      @include e(input) {
        border-color: var(--#{$variable-prefix}color-primary-lighter);
      }
    }

    @include when(checked) {
      @include e(input-wrapper) {
        &::before {
          animation: radio-wave 0.36s ease-in-out;
          animation-fill-mode: both;
        }
      }

      @include e(input) {
        border-color: var(--#{$variable-prefix}color-primary);
      }
    }

    @include e(input) {
      @include utils-outline;

      &:focus {
        border-color: var(--#{$variable-prefix}color-primary-lighter);

        box-shadow: 0 0 0 3px rgb(var(--#{$variable-prefix}color-primary-rgb) / 12%);
      }
    }
  }

  @include when(disabled) {
    @include e(input-wrapper) {
      background-color: var(--#{$variable-prefix}disabled-background-color);

      &::after {
        background-color: var(--#{$variable-prefix}disabled-color);
      }
    }
  }

  @include when(checked) {
    @include e(input-wrapper) {
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  @include e(input-wrapper) {
    position: relative;

    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      border: 1px solid var(--#{$variable-prefix}color-primary);
      border-radius: 50%;

      opacity: 0;

      content: '';
    }

    &::after {
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;

      border-radius: 50%;

      background-color: var(--#{$variable-prefix}color-primary);
      transform: scale(0);
      opacity: 0;

      transition: transform 133ms linear, opacity 133ms linear;

      content: '';
    }
  }

  @include e(input) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid var(--#{$variable-prefix}border-color);
    border-radius: 50%;

    outline: none;

    cursor: inherit;

    transition: border-color 133ms linear, background-color 66ms linear, color 133ms linear;

    appearance: none;
  }

  @include e(label) {
    padding-left: 8px;

    cursor: inherit;

    transition: color 133ms linear;
  }
}

@include b(radio-group) {
  $selector: &;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:not(#{$selector}--outline):not(#{$selector}--fill) {
    gap: 8px 12px;
  }

  $radio-selector: '.#{$variable-prefix}radio';
  #{$radio-selector} {
    flex-shrink: 0;
  }

  @include m(outline) {
    @include button-radio;

    #{$radio-selector}:not(.is-disabled).is-checked {
      color: var(--#{$variable-prefix}color-primary);
    }
  }

  @include m(fill) {
    @include button-radio;

    #{$radio-selector}:not(.is-disabled).is-checked {
      color: #fff;

      background-color: var(--#{$variable-prefix}color-primary);
    }
  }

  @include m(smaller) {
    --#{$variable-prefix}size: var(--#{$variable-prefix}size-smaller);
    --#{$variable-prefix}font: var(--#{$variable-prefix}font-smaller);
    --#{$variable-prefix}padding-size: var(--#{$variable-prefix}padding-size-smaller);
  }

  @include m(larger) {
    --#{$variable-prefix}size: var(--#{$variable-prefix}size-larger);
    --#{$variable-prefix}font: var(--#{$variable-prefix}font-larger);
    --#{$variable-prefix}padding-size: var(--#{$variable-prefix}padding-size-larger);
  }

  @include m(vertical) {
    flex-direction: column;
    align-items: flex-start;

    #{$radio-selector} {
      &:first-of-type {
        border-radius: 2px 2px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 2px 2px;
      }
    }
  }
}
