@include b(select-box) {
  position: relative;

  display: inline-flex;
  align-items: center;
  width: 100%;
  height: var(--#{$variable-prefix}size);
  padding: 0 calc(var(--#{$variable-prefix}horizontal-space-size) - 1px);
  border: 1px solid var(--#{$variable-prefix}color-border);
  border-radius: var(--#{$variable-prefix}border-radius);

  font-size: var(--#{$variable-prefix}font);
  font-family: inherit;
  white-space: nowrap;
  text-align: unset;
  text-transform: none;
  vertical-align: top;

  background-color: var(--#{$variable-prefix}background-color-input);

  outline: none;
  cursor: pointer;

  transition: border-color 0.2s linear;

  appearance: none;

  @include utils-disabled(true);

  @at-root {
    .#{$variable-prefix}compose {
      .#{$variable-prefix}select-box {
        flex-grow: 1;
        width: 0;
      }
    }
  }

  &:not(.is-disabled) {
    @include form-validate;

    &:hover {
      z-index: var(--#{$variable-prefix}zindex-hover);

      border-color: var(--#{$variable-prefix}color-primary-lighter);
    }

    &:focus {
      z-index: var(--#{$variable-prefix}zindex-hover);

      border-color: var(--#{$variable-prefix}color-primary);
    }
  }

  @include when(expanded) {
    z-index: var(--#{$variable-prefix}zindex-hover);

    border-color: var(--#{$variable-prefix}color-primary);
  }

  @include when(disabled) {
    .#{$variable-prefix}select-box__content {
      pointer-events: none;
    }
    .#{$variable-prefix}select-box__icon {
      color: var(--#{$variable-prefix}color-disabled);
    }
    .#{$variable-prefix}select-box__placeholder {
      color: rgb(var(--#{$variable-prefix}text-color-rgb) / 10%);
    }
  }

  @include m(smaller) {
    --#{$variable-prefix}size: var(--#{$variable-prefix}size-smaller);
    --#{$variable-prefix}font: var(--#{$variable-prefix}font-smaller);
    --#{$variable-prefix}horizontal-space-size: var(--#{$variable-prefix}horizontal-space-size-smaller);
  }

  @include m(larger) {
    --#{$variable-prefix}size: var(--#{$variable-prefix}size-larger);
    --#{$variable-prefix}font: var(--#{$variable-prefix}font-larger);
    --#{$variable-prefix}horizontal-space-size: var(--#{$variable-prefix}horizontal-space-size-larger);
  }

  @include e(content) {
    flex-grow: 1;

    @include utils-ellipsis;
  }

  @include e(suffix) {
    z-index: 1;

    flex-shrink: 0;
    margin-left: 4px;
  }

  @include e(search) {
    z-index: 1;

    flex-grow: 1;
    width: 0;
    margin: 0;
    padding: 0;
    border: none;

    color: var(--#{$variable-prefix}text-color);

    font: inherit;
    letter-spacing: inherit;

    background-color: transparent;

    outline: none;

    appearance: none;
    caret-color: var(--#{$variable-prefix}color-primary);

    &::-webkit-search-cancel-button {
      display: none;

      appearance: none;
    }
  }

  @include e(placeholder) {
    position: absolute;
    top: 0;
    right: calc(var(--#{$variable-prefix}horizontal-space-size) - 1px);
    bottom: 0;
    left: calc(var(--#{$variable-prefix}horizontal-space-size) - 1px);

    display: flex;
    align-items: center;

    color: rgb(var(--#{$variable-prefix}text-color-rgb) / 40%);

    & > span {
      @include utils-ellipsis;
    }
  }

  @include e(clear) {
    position: absolute;
    right: calc(var(--#{$variable-prefix}horizontal-space-size) - 1px);
    z-index: 5;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--d-color-step-400);

    background-color: var(--#{$variable-prefix}background-color);

    transition: color 0.2s linear, opacity 0.1s linear;

    &:hover,
    &:focus {
      color: var(--#{$variable-prefix}color-primary-lighter);
    }

    &:active {
      color: var(--#{$variable-prefix}color-primary-darker);
    }
  }

  @include e(icon) {
    z-index: 1;

    flex-shrink: 0;
    margin-left: 4px;

    color: var(--#{$variable-prefix}color-step-400);

    transition: transform 133ms linear, color 133ms linear;

    @include when(expand) {
      color: var(--#{$variable-prefix}color-primary);

      transform: rotate(180deg);
    }
  }
}
