@mixin separator-text {
  display: flex;
  align-items: center;
  margin: 24px 0;

  background-color: unset;

  &::before {
    height: 1px;

    background-color: var(--#{$variable-prefix}divider-color);

    content: '';
  }

  &::after {
    height: 1px;

    background-color: var(--#{$variable-prefix}divider-color);

    content: '';
  }

  &.#{$variable-prefix}separator--vertical {
    width: auto;
    margin: 0 24px;

    &::before {
      width: 1px;
      height: unset;
    }

    &::after {
      width: 1px;
      height: unset;
    }

    .#{$variable-prefix}separator__text {
      padding: 8px 0;
    }
  }
}

@include b(separator) {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  padding: 0;
  border: none;

  list-style: none;

  background-color: var(--#{$variable-prefix}divider-color);

  @include m(text-left) {
    @include separator-text;

    &::before {
      flex: 0 0 10%;
    }

    &::after {
      flex: 1 0 0;
    }
  }

  @include m(text-right) {
    @include separator-text;

    &::before {
      flex: 1 0 0;
    }

    &::after {
      flex: 0 0 10%;
    }
  }

  @include m(text-center) {
    @include separator-text;

    &::before {
      flex: 1 0 0;
    }

    &::after {
      flex: 1 0 0;
    }
  }

  @include m(vertical) {
    display: inline-flex;
    flex-direction: column;
    width: 1px;
    height: auto;
    margin: 4px 8px;

    &::before {
      flex: 1 0 0;

      background-color: var(--#{$variable-prefix}divider-color);

      content: '';
    }
  }

  @include e(text) {
    flex: 0 0 auto;
    padding: 0 8px;

    font-size: 0.95em;
  }
}
