/* stylelint-disable declaration-property-value-allowed-list */
@keyframes switch-focus {
  0% {
    box-shadow: 0 0 0 8px rgb(var(--#{$variable-prefix}color-primary-rgb) / 16%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(var(--#{$variable-prefix}color-primary-rgb) / 24%);
  }
}

@include b(switch) {
  position: relative;

  display: inline-flex;
  gap: 0 var(--#{$variable-prefix}margin-size);
  align-items: center;

  &:not(.is-disabled):not(.is-loading) {
    &:active {
      @include e(state-dot) {
        width: 22px;
      }
    }
  }

  @include when(disabled) {
    color: var(--#{$variable-prefix}color-disabled);

    filter: brightness(110%) grayscale(50%);

    @include when(checked) {
      filter: saturate(50%) grayscale(50%);
    }

    @include e(state-dot) {
      filter: opacity(50%);
    }

    @include e(input) {
      cursor: not-allowed;
    }
  }

  @include when(loading) {
    @include e(state-container) {
      @include utils-loading;
    }

    @include e(input) {
      cursor: wait;
    }
  }

  @include when(checked) {
    @include e(state-container) {
      background-color: var(--#{$variable-prefix}color-primary);
    }
  }

  @include m(label-left) {
    flex-direction: row-reverse;
  }

  @include e(input) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;
    margin: 0;

    cursor: pointer;

    opacity: 0;

    appearance: none;
  }

  @include e(state-container) {
    position: relative;

    display: inline-flex;
    flex-shrink: 0;
    align-items: center;

    min-width: 42px;
    height: 22px;
    padding: 0 6px;
    border-radius: 11px;

    background-color: var(--#{$variable-prefix}switch-background-color);

    transition: background-color 0.1s ease-out;
  }

  @include e(state-content) {
    display: inline-flex;
    justify-content: center;
    min-width: 1em;

    color: #fff;
    font-size: 14px;
    line-height: 1;

    transition: opacity 0.1s ease-out;

    &:first-of-type {
      margin-right: auto;
    }
  }

  @include e(state-dot) {
    position: absolute;
    top: 2px;
    z-index: 1;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;
    border-radius: 9px;

    color: var(--#{$variable-prefix}color-primary);

    font-size: 14px;

    background-color: var(--#{$variable-prefix}background-color);
    box-shadow: 0 2px 1px -1px var(--#{$variable-prefix}shadow-color), 0 0 4px 0 var(--#{$variable-prefix}shadow-color);

    transition: width 133ms ease-in;

    @include when(focus) {
      animation: switch-focus 1.2s linear infinite alternate;
      animation-fill-mode: both;
    }
  }
}
