@include b(textarea) {
  display: block;
  width: 100%;
  min-height: 32px;
  margin: 0;
  padding: 3px 9px;
  border: 1px solid var(--#{$variable-prefix}border-color);
  border-radius: var(--#{$variable-prefix}border-radius);

  font: inherit;
  font-size: var(--#{$variable-prefix}font);
  line-height: 24px;
  letter-spacing: inherit;

  outline: none;

  transition: border-color 0.2s linear;

  appearance: none;
  resize: vertical;
  caret-color: var(--#{$variable-prefix}color-primary);

  @include utils-disabled(true, ':disabled');

  &:not(:disabled) {
    @include form-validate;

    &:hover {
      z-index: var(--#{$variable-prefix}hover-z-index);

      border-color: var(--#{$variable-prefix}color-primary-lighter);
    }

    &:focus {
      z-index: var(--#{$variable-prefix}hover-z-index);

      border-color: var(--#{$variable-prefix}color-primary);
    }
  }

  &::placeholder {
    color: var(--#{$variable-prefix}color-step-400);

    transform: translateX(1px);
  }

  &:disabled::placeholder {
    color: var(--#{$variable-prefix}color-step-100);
  }

  @include e(count) {
    color: var(--#{$variable-prefix}color-step-400);
    font-size: var(--#{$variable-prefix}font);
    line-height: 28px;
    text-align: right;
    font-variant-numeric: tabular-nums;
  }
}
