@import 'mixins/toast';
@import 'mixins/notification';

@include b(alert) {
  padding: 12px 16px;
  background-color: var(--#{$d-prefix}alert-background-color, var(--#{$d-prefix}background-color-light-gray));
  border: 1px solid var(--#{$d-prefix}alert-border-color, var(--#{$d-prefix}color-border));

  @each $theme, $rgb in $d-themes {
    @include theme(#{$theme}) {
      --#{$d-prefix}alert-border-color: var(--#{$d-prefix}color-#{$theme});
      --#{$d-prefix}alert-background-color: var(--#{$d-prefix}background-color-#{$theme});
    }
  }

  @include m(toast) {
    @include component-toast;
  }

  @include m(notification) {
    @include component-notification;
  }
}
