@include b(alert) {
  padding: 12px 16px;
  background-color: var(--#{$variable-prefix}alert-background-color, var(--#{$variable-prefix}background-color-gray));
  border: 1px solid var(--#{$variable-prefix}alert-border-color, var(--#{$variable-prefix}color-border));

  @each $theme, $rgb in $themes {
    @include theme(#{$theme}) {
      --#{$variable-prefix}alert-border-color: var(--#{$variable-prefix}color-#{$theme});
      --#{$variable-prefix}alert-background-color: var(--#{$variable-prefix}background-color-#{$theme});
    }
  }

  @include m(toast) {
    @include component-toast;
  }

  @include m(notification) {
    @include component-notification;
  }
}
