@include b(anchor) {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;

  @include font-size(0.95rem);

  @include e(indicator-track) {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    pointer-events: none;
    background-color: var(--#{$variable-prefix}background-color-indicator);
  }

  @include e(indicator-wrapper) {
    position: absolute;
    left: 1px;
    z-index: 5;
    opacity: 0;
    transition: top var(--#{$variable-prefix}animation-duration-slow) ease-in-out,
      opacity var(--#{$variable-prefix}animation-duration-base) linear;
    transform: translate(-50%, -50%);
  }

  @include e(dot-indicator) {
    width: 8px;
    height: 8px;
    background-color: var(--#{$variable-prefix}background-color);
    border: 2px solid var(--#{$variable-prefix}color-primary);
    border-radius: 50%;
  }

  @include e(line-indicator) {
    width: 2px;
    height: 20px;
    background-color: var(--#{$variable-prefix}color-primary);
  }
}

@include b(anchor-link) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 28px;
  padding-left: 4px;
  color: var(--#{$variable-prefix}text-color);
  text-decoration: none;
  transition: color var(--#{$variable-prefix}animation-duration-base) linear;

  &:hover {
    color: var(--#{$variable-prefix}color-primary);
  }

  @include utils-break-word;

  @include when(active) {
    color: var(--#{$variable-prefix}color-primary);
  }
}
