@include b(breadcrumb) {
  @include e(list) {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 8px;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @include e(item) {
    color: var(--#{$d-prefix}text-color-sub);

    @include m(link) {
      cursor: pointer;
      transition: color var(--#{$d-prefix}animation-duration-base) linear;

      &:hover {
        color: var(--#{$d-prefix}text-color);
      }
    }

    @include m(last) {
      color: var(--#{$d-prefix}text-color);
    }
  }

  @include e(separator) {
    color: var(--#{$d-prefix}text-color-sub);
  }
}
