@include b(card) {
  border-radius: var(--#{$variable-prefix}border-radius);
  transition: box-shadow var(--#{$variable-prefix}animation-duration-base) linear;

  @include m(border) {
    border: 1px solid var(--#{$variable-prefix}color-border);
  }

  @include m(shadow) {
    box-shadow: 0 2px 8px 0 var(--#{$variable-prefix}shadow-color);
  }

  @include m(shadow-hover) {
    &:hover {
      box-shadow: 0 2px 8px 0 var(--#{$variable-prefix}shadow-color);
    }
  }

  @include e(header) {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--#{$variable-prefix}color-border);
  }

  @include e(header-title) {
    @include utils-ellipsis;

    flex: 1 0 0;
    font-size: 1.1em;
    font-weight: 500;
  }

  @include e(header-action) {
    flex-shrink: 0;
  }

  @include e(content) {
    padding: 16px;
  }

  @include e(actions) {
    display: flex;
    height: 48px;
    border-top: 1px solid var(--#{$variable-prefix}color-border);
  }

  @include e(action) {
    display: inline-flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font: inherit;
    color: var(--#{$variable-prefix}color-icon-decorator);
    vertical-align: top;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: color var(--#{$variable-prefix}animation-duration-base) linear;
    appearance: none;

    &:hover,
    &:focus {
      color: var(--#{$variable-prefix}color-primary-lighter);
    }

    &:disabled {
      pointer-events: none;
      filter: opacity(50%);
    }
  }
}
