$cascader-option-height: 32px;

@include b(cascader) {
  @include when(disabled) {
    @include e(multiple-tag) {
      color: var(--#{$variable-prefix}color-disabled);
    }
    @include e(multiple-count) {
      color: var(--#{$variable-prefix}color-disabled);
    }
  }

  @include e(multiple-tag) {
    & + & {
      margin-left: 8px;
    }
  }

  @include e(popup) {
    position: fixed;
    overflow: auto hidden;
    white-space: nowrap;
    background-color: var(--#{$variable-prefix}background-color);
    border-radius: var(--#{$variable-prefix}border-radius);
    box-shadow: var(--#{$variable-prefix}shadow-popup);
  }

  @include e(list) {
    position: relative;
    display: inline-block;
    max-height: 264px;
    padding: 4px 0;
    margin: 0;
    overflow: hidden auto;
    vertical-align: top;
    list-style: none;

    & + & {
      border-left: 1px solid var(--#{$variable-prefix}color-divider);
    }
  }

  @include e(option) {
    position: relative;
    display: flex;
    gap: 0 8px;
    align-items: center;
    width: 100%;
    height: $cascader-option-height;
    padding: 0 12px;
    cursor: pointer;
    transition: background-color var(--#{$variable-prefix}animation-duration-base) linear;

    @include utils-disabled;

    &:not(.is-selected):hover {
      background-color: var(--#{$variable-prefix}background-color-hover);
    }

    @include when(selected) {
      background-color: var(--#{$variable-prefix}background-color-primary);
    }

    @include when(focus) {
      color: var(--#{$variable-prefix}color-primary-lighter);
    }
  }

  @include e(option-content) {
    flex: 1 0 0;

    @include utils-ellipsis;
  }

  @include e(option-icon) {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    font-size: 0.9em;
  }

  @include e(empty) {
    display: flex;
    align-items: center;
    height: $cascader-option-height;
    padding: 0 12px;
    color: var(--#{$variable-prefix}color-disabled);
  }

  @include e(loading) {
    position: absolute;
    inset: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: var(--#{$variable-prefix}color-primary);
    background-color: rgb(var(--#{$variable-prefix}background-color-rgb) / 80%);

    @include m(empty) {
      justify-content: flex-start;
      background-color: var(--#{$variable-prefix}background-color);
    }
  }
}
