@keyframes checkbox-tick {
  0% {
    transform: scale(0.7);
  }

  90% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@include b(checkbox) {
  position: relative;
  display: inline-flex;
  gap: 0 8px;
  align-items: center;

  @include utils-disabled;

  &:hover {
    @include e(input) {
      border-color: var(--#{$variable-prefix}color-primary-lighter);
    }
  }

  @include when(disabled) {
    @include e(state-container) {
      &::before {
        border-color: var(--#{$variable-prefix}color-disabled);
      }

      &::after {
        background-color: var(--#{$variable-prefix}color-disabled);
      }
    }
  }

  @include when(checked) {
    &:not(.is-disabled) {
      @include e(input) {
        border-color: var(--#{$variable-prefix}color-primary);
      }

      @include e(state-container) {
        &::before {
          animation: wave-spread 0.36s ease-in-out;
          animation-fill-mode: backwards;
        }
      }

      @include e(tick) {
        animation: checkbox-tick 133ms ease-in-out;
        animation-fill-mode: backwards;
      }
    }

    @include e(state-container) {
      &::after {
        opacity: 1;
      }
    }
  }

  @include when(indeterminate) {
    &:not(.is-disabled) {
      @include e(input) {
        border-color: var(--#{$variable-prefix}color-primary);
      }
    }

    @include e(state-container) {
      &::before {
        animation: wave-spread 0.36s ease-in-out;
        animation-fill-mode: backwards;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  @include e(state-container) {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: var(--#{$variable-prefix}background-color-input);
    border-radius: var(--#{$variable-prefix}border-radius);

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      border: 1px solid var(--#{$variable-prefix}color-primary);
      border-radius: var(--#{$variable-prefix}border-radius);
      opacity: 0;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: var(--#{$variable-prefix}color-primary);
      border-radius: var(--#{$variable-prefix}border-radius);
      opacity: 0;
      transition: transform var(--#{$variable-prefix}animation-duration-fast) linear,
        opacity var(--#{$variable-prefix}animation-duration-fast) linear;
    }
  }

  @include e(tick) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: var(--#{$variable-prefix}border-radius);

    &::after {
      position: absolute;
      top: 3px;
      left: 3px;
      display: block;
      width: 10px;
      height: 6px;
      content: '';
      border-bottom: 2px solid map.get($colors, 'white');
      border-left: 2px solid map.get($colors, 'white');
      transform: rotate(-45deg);
    }
  }

  @include e(indeterminate) {
    position: absolute;
    top: 7px;
    left: 4px;
    z-index: 1;
    width: 8px;
    height: 2px;
    background-color: map.get($colors, 'white');
  }

  @include e(input) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: inherit;
    border: 1px solid var(--#{$variable-prefix}color-border);
    border-radius: var(--#{$variable-prefix}border-radius);
    transition: border-color var(--#{$variable-prefix}animation-duration-base) linear;
    appearance: none;

    &:focus {
      border-color: var(--#{$variable-prefix}color-primary-lighter);
      box-shadow: 0 0 0 3px rgb(var(--#{$variable-prefix}color-primary-rgb) / var(--#{$variable-prefix}shadow-normal));
    }
  }
}

@include b(checkbox-group) {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
  align-items: center;

  @include m(vertical) {
    flex-direction: column;
    align-items: flex-start;
  }
}
