@include b(empty) {
  @include polyfill-row-gap(8px);

  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(var(--#{$rd-prefix}text-color-rgb) / 28%);

  @include e(description) {
    text-align: center;

    @include font-size(0.9rem);
  }
}
