@import 'mixins/size';

@include b(input) {
  display: inline-flex;
  align-items: center;
  height: var(--#{$d-prefix}size);
  padding: 0 calc(var(--#{$d-prefix}horizontal-space-size) - 1px);
  color: var(--#{$d-prefix}text-color);
  vertical-align: top;
  background-color: var(--#{$d-prefix}background-color-input);
  border: 1px solid var(--#{$d-prefix}color-border);
  border-radius: var(--#{$d-prefix}border-radius);
  transition: border-color var(--#{$d-prefix}animation-duration-base) linear;

  &:hover {
    border-color: var(--#{$d-prefix}color-primary-lighter);
  }

  &[data-form-invalid-warning='true'] {
    border-color: var(--#{$d-prefix}color-warning) !important;

    .#{$B}__input {
      caret-color: var(--#{$d-prefix}color-warning) !important;
    }
  }

  &[data-form-invalid-error='true'] {
    border-color: var(--#{$d-prefix}color-danger) !important;

    .#{$B}__input {
      caret-color: var(--#{$d-prefix}color-danger) !important;
    }
  }

  @include component-size;

  @include when(disabled) {
    color: var(--#{$d-prefix}color-disabled);
    pointer-events: none;
    background-color: var(--#{$d-prefix}background-color-disabled);
  }

  @include when(focus) {
    border-color: var(--#{$d-prefix}color-primary-lighter);
  }

  @include m(number) {
    &:not(.is-disabled) {
      padding-right: 0;
      @include e(suffix) {
        margin-right: calc(var(--#{$d-prefix}horizontal-space-size) - 1px);
      }
    }
  }

  @include e(input) {
    @include utils-input;

    display: inline-block;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    color: inherit;
    background-color: transparent;
    border: none;

    &[type='number'] {
      appearance: textfield; /* Firefox */

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */

        /* display: none; <- Crashes Chrome on hover */
        appearance: none;
      }
    }

    &::placeholder {
      color: $d-placeholder-color;
    }

    &:disabled::placeholder {
      color: $d-placeholder-disabled-color;
    }
  }

  @include e(prefix) {
    flex-shrink: 0;
    margin-right: 4px;
  }

  @include e(suffix) {
    flex-shrink: 0;
    margin-left: 4px;
  }

  @include e(clear) {
    flex-shrink: 0;
    margin: 0 0 0 4px;
    font-size: 0.9em;
    color: var(--#{$d-prefix}color-icon-decorator);
    cursor: pointer;
    transition: color var(--#{$d-prefix}animation-duration-base) linear, opacity var(--#{$d-prefix}animation-duration-fast) linear;

    &:hover,
    &:focus {
      color: var(--#{$d-prefix}color-primary-lighter);
    }

    &:active {
      color: var(--#{$d-prefix}color-primary-darker);
    }
  }

  @include e(password) {
    flex-shrink: 0;
    padding: 0;
    margin: 0 0 0 4px;
    font-size: 0.9em;
    color: var(--#{$d-prefix}color-icon-decorator);
    cursor: pointer;
    transition: color var(--#{$d-prefix}animation-duration-base) linear;

    &:hover,
    &:focus {
      color: var(--#{$d-prefix}color-primary-lighter);
    }

    &:active {
      color: var(--#{$d-prefix}color-primary-darker);
    }
  }

  @include e(number-container) {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    margin-left: 4px;
    font-size: 0.9em;
  }

  @include e(number) {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 24px;
    color: var(--#{$d-prefix}color-icon-decorator);
    cursor: pointer;
    transition: color var(--#{$d-prefix}animation-duration-base) linear, background-color var(--#{$d-prefix}animation-duration-base) linear;

    &:hover,
    &:focus {
      color: var(--#{$d-prefix}color-primary-lighter);
      background-color: var(--#{$d-prefix}background-color-primary-hover);
    }

    &:active {
      color: var(--#{$d-prefix}color-primary-darker);
      background-color: var(--#{$d-prefix}background-color-primary);
    }
  }
}
