$menu-item-height: 40px;

@include b(menu) {
  position: relative;
  padding: 8px 0;
  outline: none;

  &:not(&--horizontal) {
    overflow: hidden auto;
  }

  @include m(horizontal) {
    display: inline-block;
    min-width: 100%;
    white-space: nowrap;

    &::after {
      position: absolute;
      right: 4px;
      bottom: 10px;
      left: 4px;
      height: 1px;
      pointer-events: none;
      content: '';
      background-color: var(--#{$variable-prefix}background-color-indicator);
    }
  }

  @include e(empty) {
    display: flex;
    align-items: center;
    height: $menu-item-height;
    color: var(--#{$variable-prefix}color-disabled);
  }

  @include e(item) {
    position: relative;
    display: flex;
    align-items: center;
    height: $menu-item-height;
    margin: 0;
    list-style: none;
    cursor: pointer;
    transition: color var(--#{$variable-prefix}animation-duration-base) linear,
      background-color var(--#{$variable-prefix}animation-duration-base) linear;

    &:hover {
      color: var(--#{$variable-prefix}color-primary);
    }

    &:not(.#{$variable-prefix}menu__item--horizontal):hover {
      background-color: var(--#{$variable-prefix}background-color-hover-primary);
    }

    @include when(active) {
      color: var(--#{$variable-prefix}color-primary);

      &:not(.#{$variable-prefix}menu__item--horizontal) {
        .#{$variable-prefix}menu__indicator {
          & > div::before {
            transform: scaleY(1);
          }
        }
      }
    }

    @include when(disabled) {
      pointer-events: none;
      filter: opacity(50%);
    }

    @include m(horizontal) {
      display: inline-flex;
      min-width: unset;
      padding: 0 20px;

      &::after {
        position: absolute;
        right: 20px;
        bottom: -5px;
        left: 20px;
        z-index: 1;
        height: 2px;
        content: '';
        background-color: transparent;
        transition: background-color var(--#{$variable-prefix}animation-duration-base) linear,
          transform var(--#{$variable-prefix}animation-duration-base) linear;
        transform: scaleX(0.8);
      }

      @include when(active) {
        &::after {
          background-color: var(--#{$variable-prefix}color-primary);
          transform: scaleX(1);
        }
      }

      .#{$variable-prefix}menu__item-content {
        flex-shrink: 0;
      }
    }

    @include m(icon) {
      height: 52px;

      .#{$variable-prefix}menu__item-icon {
        width: 64px;
        padding-right: 16px;

        & > .#{$variable-prefix}icon {
          transform: translateX(12px) scale(1.5);
        }
      }
    }

    @include m(basic) {
      padding: 0 16px;

      &.#{$variable-prefix}menu__item--horizontal {
        &:hover::after {
          background-color: var(--#{$variable-prefix}color-primary);
          transform: scaleX(1);
        }
      }
    }

    @include m(sub) {
      padding-right: 32px;

      &:hover {
        .#{$variable-prefix}menu__sub-arrow {
          color: inherit;
        }
      }

      &.#{$variable-prefix}menu__item--horizontal {
        @include when(expand) {
          &::after {
            background-color: var(--#{$variable-prefix}color-primary);
            transform: scaleX(1);
          }
        }
      }

      &.#{$variable-prefix}menu__item--icon {
        .#{$variable-prefix}menu__sub-arrow {
          opacity: 0;
        }
      }

      @include when(active) {
        .#{$variable-prefix}menu__sub-arrow {
          color: inherit;
        }
      }

      @include when(expand) {
        color: var(--#{$variable-prefix}color-primary);

        .#{$variable-prefix}menu__sub-arrow {
          color: inherit;
        }
      }

      @include when(disabled) {
        .#{$variable-prefix}menu__sub-arrow {
          color: inherit;
        }
      }
    }
  }

  @include e(indicator) {
    position: relative;
    width: 0;
    height: 100%;

    & > div {
      position: absolute;
      left: -8px;
      width: 2px;
      height: 100%;
      background-color: var(--#{$variable-prefix}background-color-indicator);

      &::before {
        position: absolute;
        top: 8px;
        left: 0;
        display: block;
        width: 2px;
        height: calc(100% - 16px);
        content: '';
        background-color: var(--#{$variable-prefix}color-primary);
        transition: transform var(--#{$variable-prefix}animation-duration-base) linear;
        transform: scaleY(0);
      }
    }

    @include m(first) {
      & > div {
        bottom: 0;
        height: calc(100% - 8px);

        &::before {
          top: 0;
          height: calc(100% - 8px);
          transform-origin: top;
        }
      }
    }

    @include m(last) {
      & > div {
        top: 0;
        height: calc(100% - 8px);

        &::before {
          bottom: 0;
          height: calc(100% - 8px);
          transform-origin: bottom;
        }
      }
    }
  }

  @include e(item-icon) {
    flex-shrink: 0;
    width: calc(1.05rem + 12px);
    font-size: 1.1em;
    transition: height var(--#{$variable-prefix}animation-duration-base) linear;

    & > .#{$variable-prefix}icon {
      transition: transform var(--#{$variable-prefix}animation-duration-base) linear,
        width var(--#{$variable-prefix}animation-duration-base) linear;
    }
  }

  @include e(item-content) {
    min-width: 1em;

    @include utils-ellipsis;
  }

  @include e(sub-arrow) {
    position: absolute;
    right: 12px;
    display: inline-flex;
    align-items: center;
    height: 100%;
    color: var(--#{$variable-prefix}color-icon-decorator);
    transition: color var(--#{$variable-prefix}animation-duration-base) linear,
      transform var(--#{$variable-prefix}animation-duration-base) linear;
  }

  @include e(sub-list) {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    @include m(popup) {
      position: fixed;
      padding: 4px;
      background-color: var(--#{$variable-prefix}background-color);
      border-radius: var(--#{$variable-prefix}border-radius);
      box-shadow: var(--#{$variable-prefix}shadow-popup);

      $padding-size: 8px;
      .#{$variable-prefix}menu__item {
        padding: 0 $padding-size;
      }
      .#{$variable-prefix}menu__item--sub {
        padding: 0 24px 0 $padding-size;
      }
      .#{$variable-prefix}menu__sub-arrow {
        right: 6px;
      }
      .#{$variable-prefix}menu__group-title {
        padding: 0 $padding-size;
      }
    }
  }

  @include e(group-list) {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @include e(group-title) {
    position: relative;
    display: flex;
    align-items: center;
    height: $menu-item-height;
    padding: 0 16px;
    margin: 0;
    font-size: 0.9em;
    color: var(--#{$variable-prefix}text-color-sub);

    @include utils-ellipsis;
  }
}
