@mixin notification-root {
  position: fixed;
  z-index: var(--#{$variable-prefix}zindex-max);
  pointer-events: none;
}

##{$variable-prefix}notification-lt-root {
  top: 20px;
  left: 20px;

  @include notification-root;
}

##{$variable-prefix}notification-rt-root {
  top: 20px;
  right: 20px;

  @include notification-root;
}

##{$variable-prefix}notification-lb-root {
  bottom: 20px;
  left: 20px;

  @include notification-root;
}

##{$variable-prefix}notification-rb-root {
  right: 20px;
  bottom: 20px;

  @include notification-root;
}

@include b(notification) {
  position: relative;
  display: flex;
  width: 380px;
  max-width: calc(100vw - 40px);
  padding: 16px 24px;
  margin-bottom: 20px;
  pointer-events: all;
  background-color: var(--#{$variable-prefix}background-color);
  border-radius: var(--#{$variable-prefix}border-radius);
  box-shadow: var(--#{$variable-prefix}shadow-dialog);

  @include e(icon) {
    flex-shrink: 0;
    margin-right: 16px;
    font-size: 1.75em;
  }

  @include e(content) {
    flex-grow: 1;
  }

  @include e(title) {
    margin-bottom: 8px;

    @include utils-title;
  }

  @include e(close) {
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 1;
    width: 28px;
    height: 28px;
  }
}
