@include b(rating) {
  position: relative;
  display: inline-flex;
  gap: 0 0.35em;
  align-items: center;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  font-size: 20px;
  color: var(--#{$variable-prefix}color-warning);

  @include when(disabled) {
    pointer-events: none;
    filter: opacity(50%);
  }

  @include m(read-only) {
    pointer-events: none;
  }
}

@include b(rating-star) {
  position: relative;
  transition: transform var(--#{$variable-prefix}animation-duration-fast) linear;

  &:hover {
    transform: scale(1.2);
  }

  @include when(focus) {
    transform: scale(1.2);
  }

  @include e(icon) {
    color: var(--#{$variable-prefix}color-divider);
    transition: color var(--#{$variable-prefix}animation-duration-fast) linear;

    @include when(checked) {
      color: inherit;
    }

    @include m(half) {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;
    }
  }

  @include e(input) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    appearance: none;

    @include m(half) {
      z-index: 5;
      width: 50%;
    }
  }
}
