$select-option-height: 32px;

@include b(select) {
  @include when(disabled) {
    @include e(multiple-tag) {
      color: var(--#{$variable-prefix}color-disabled);
    }
    @include e(multiple-count) {
      color: var(--#{$variable-prefix}color-disabled);
    }
  }

  @include e(popup) {
    position: fixed;
    background-color: var(--#{$variable-prefix}background-color);
    border-radius: var(--#{$variable-prefix}border-radius);
    box-shadow: var(--#{$variable-prefix}shadow-popup);
  }

  @include e(list) {
    position: relative;
    max-height: 264px;
    padding: 4px 0;
    margin: 0;
    overflow: hidden auto;
    list-style: none;
  }

  @include e(option) {
    position: relative;
    display: flex;
    gap: 0 8px;
    align-items: center;
    width: 100%;
    height: $select-option-height;
    padding: 0 12px;
    cursor: pointer;
    transition: background-color var(--#{$variable-prefix}animation-duration-base) linear;

    @include utils-disabled;

    &:not(.is-selected):hover {
      background-color: var(--#{$variable-prefix}background-color-hover);
    }

    @include when(selected) {
      background-color: var(--#{$variable-prefix}background-color-primary);
    }
  }

  @include e(option-group) {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @include e(option-group-label) {
    display: flex;
    align-items: center;
    height: $select-option-height;
    padding: 0 12px;
    font-size: 0.9em;
    color: var(--#{$variable-prefix}text-color-sub);
  }

  @include e(option-content) {
    flex-grow: 1;

    @include utils-ellipsis;
  }

  @include e(empty) {
    display: flex;
    align-items: center;
    height: $select-option-height;
    padding: 0 12px;
    color: var(--#{$variable-prefix}color-disabled);
  }

  @include e(loading) {
    position: absolute;
    inset: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: var(--#{$variable-prefix}color-primary);
    pointer-events: none;
    background-color: rgb(var(--#{$variable-prefix}background-color-rgb) / 80%);

    @include m(empty) {
      justify-content: flex-start;
      background-color: var(--#{$variable-prefix}background-color);
    }
  }

  @include e(multiple-tag) {
    & + & {
      margin-left: 8px;
    }
  }
}
