@include b(slides) {
  --swiper-theme-color: var(--#{$rd-prefix}color-primary);

  .swiper-button-prev {
    top: 50%;
    right: unset;
    bottom: unset;
    left: 12px;
    transform: translateY(-50%);
  }

  .swiper-button-next {
    top: 50%;
    right: 12px;
    bottom: unset;
    left: unset;
    transform: translateY(-50%);
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include utils-button;

    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    font-size: 18px;
    color: var(--#{$rd-prefix}text-color);
    background-color: var(--#{$rd-prefix}background-color);
    border: none;
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 var(--#{$rd-prefix}shadow-color);
    transition: opacity var(--#{$rd-prefix}animation-duration-base) linear, color var(--#{$rd-prefix}animation-duration-base) linear,
      background-color var(--#{$rd-prefix}animation-duration-base) linear;

    &::after {
      content: none;
    }

    &:hover {
      color: var(--#{$rd-prefix}color-primary);
      background-color: var(--#{$rd-prefix}background-color-gray);
    }
  }

  @include m(vertical) {
    .swiper-button-prev {
      top: 12px;
      right: unset;
      bottom: unset;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }

    .swiper-button-next {
      top: unset;
      right: unset;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }
}
