@keyframes switch-focus {
  0% {
    box-shadow: 0 0 0 8px rgb(var(--#{$variable-prefix}color-primary-rgb) / var(--#{$variable-prefix}shadow-normal));
  }

  100% {
    box-shadow: 0 0 0 10px rgb(var(--#{$variable-prefix}color-primary-rgb) / var(--#{$variable-prefix}shadow-darker));
  }
}

@include b(switch) {
  position: relative;
  display: inline-flex;
  gap: 0 8px;
  align-items: center;

  &:active {
    @include e(state-dot) {
      width: 22px;
    }
  }

  @include when(disabled) {
    color: var(--#{$variable-prefix}color-disabled);
    pointer-events: none;
    filter: brightness(110%) grayscale(50%);

    @include when(checked) {
      filter: saturate(50%) grayscale(50%);
    }

    @include e(state-dot) {
      filter: opacity(50%);
    }
  }

  @include when(loading) {
    pointer-events: none;

    @include e(state-container) {
      @include utils-loading;
    }
  }

  @include when(checked) {
    @include e(state-container) {
      background-color: var(--#{$variable-prefix}color-primary);
    }
  }

  @include m(label-left) {
    flex-direction: row-reverse;
  }

  @include e(label) {
    white-space: nowrap;
  }

  @include e(input) {
    position: absolute;
    inset: 0;
    z-index: 5;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    appearance: none;
  }

  @include e(state-container) {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    min-width: 42px;
    height: 22px;
    padding: 0 6px;
    background-color: var(--#{$variable-prefix}switch-background-color);
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    border-radius: 11px;
    transition: background-color var(--#{$variable-prefix}animation-duration-fast) ease-out;
  }

  @include e(state-content) {
    display: inline-flex;
    justify-content: center;
    min-width: 1em;
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    font-size: 14px;
    line-height: 1;
    color: map.get($colors, 'white');
    transition: opacity var(--#{$variable-prefix}animation-duration-fast) ease-out;

    &:first-of-type {
      margin-right: auto;
    }
  }

  @include e(state-dot) {
    position: absolute;
    top: 2px;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    font-size: 14px;
    color: var(--#{$variable-prefix}color-primary);
    background-color: var(--#{$variable-prefix}background-color);
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    border-radius: 9px;
    box-shadow: 0 2px 1px -1px var(--#{$variable-prefix}shadow-color), 0 0 4px 0 var(--#{$variable-prefix}shadow-color);
    transition: width var(--#{$variable-prefix}animation-duration-fast) ease-in;

    @include when(focus) {
      animation: switch-focus 1.2s linear infinite alternate;
      animation-fill-mode: both;
    }
  }
}
