@use 'sass:map';

@include b(tag) {
  --#{$d-prefix}tag-padding-size: 8px;
  --#{$d-prefix}tag-size: 28px;

  display: inline-flex;
  align-items: center;
  height: var(--#{$d-prefix}tag-size);
  padding: 0 var(--#{$d-prefix}tag-padding-size);
  white-space: nowrap;
  vertical-align: top;
  border-radius: var(--#{$d-prefix}border-radius);

  @include font-size(0.9rem);

  @each $theme, $rgb in $d-themes {
    @include theme(#{$theme}) {
      --#{$d-prefix}tag-color: var(--#{$d-prefix}color-#{$theme});
      --#{$d-prefix}tag-background-color: var(--#{$d-prefix}background-color-#{$theme});
    }
  }

  @include m(primary) {
    color: var(--#{$d-prefix}tag-color, var(--#{$d-prefix}text-color));
    background-color: var(--#{$d-prefix}tag-background-color, var(--#{$d-prefix}background-color-gray));
  }

  @include m(fill) {
    color: map.get($d-colors, 'white');
    background-color: var(--#{$d-prefix}tag-color, var(--#{$d-prefix}tag-background-color-fill));
  }

  @include m(outline) {
    padding: 0 calc(var(--#{$d-prefix}tag-padding-size) - 1px);
    color: var(--#{$d-prefix}tag-color, var(--#{$d-prefix}text-color));
    border: 1px solid var(--#{$d-prefix}tag-color, var(--#{$d-prefix}color-border));
  }

  @include m(smaller) {
    --#{$d-prefix}tag-padding-size: 6px;
    --#{$d-prefix}tag-size: 24px;

    @include font-size(0.75rem);
  }

  @include m(larger) {
    --#{$d-prefix}tag-padding-size: 10px;
    --#{$d-prefix}tag-size: 32px;

    @include font-size(1rem);
  }
}
