@mixin toast-root {
  position: fixed;
  right: 20px;
  left: 20px;
  z-index: var(--#{$variable-prefix}zindex-max);
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

##{$variable-prefix}toast-t-root {
  top: 20px;

  @include toast-root;
}

##{$variable-prefix}toast-b-root {
  bottom: 20px;

  @include toast-root;
}

@include b(toast) {
  @include component-alert;

  position: relative;
  display: flex;
  align-items: center;
  max-width: calc(100vw - 40px);
  padding: 8px 16px;
  margin: 0 auto 12px;
  pointer-events: all;
  background-color: var(--#{$variable-prefix}background-color);
  border-radius: var(--#{$variable-prefix}border-radius);
  outline: none;
  box-shadow: var(--#{$variable-prefix}shadow-dialog);

  @include e(icon) {
    flex-shrink: 0;
    margin-right: 10px;
    font-size: 1.2em;
  }
}
