@include b(upload) {
  display: none;

  @include e(picture-preview) {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    font-size: 0.9em;
  }

  @include e(item-action) {
    @include utils-button;

    min-width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    color: var(--#{$variable-prefix}upload-action-color);
    background-color: transparent;
    border: none;
    transition: color var(--#{$variable-prefix}animation-duration-base) linear,
      background-color var(--#{$variable-prefix}animation-duration-base) linear;

    &:hover,
    &:focus {
      color: var(--#{$variable-prefix}upload-action-color-lighter);
      background-color: var(--#{$variable-prefix}upload-action-background-color-hover);
    }

    &:disabled,
    &.is-disabled {
      pointer-events: none;
      filter: opacity(50%);
    }

    @include m(preview) {
      text-decoration: none;
    }
  }

  @include e(list) {
    --#{$variable-prefix}upload-action-color: var(--#{$variable-prefix}color-icon-decorator);
    --#{$variable-prefix}upload-action-color-lighter: var(--#{$variable-prefix}text-color);
    --#{$variable-prefix}upload-action-background-color-hover: var(--#{$variable-prefix}background-color-hover);

    display: flex;
    flex-direction: column;
    gap: 8px 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @include e(list-item) {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    transition: background-color var(--#{$variable-prefix}animation-duration-base) linear;

    &:hover {
      background-color: var(--#{$variable-prefix}background-color-hover);

      @include e(list-actions) {
        opacity: 1;
      }
    }

    @include m(first) {
      margin-top: 8px;
    }

    @include m(picture) {
      --#{$variable-prefix}upload-picture-list-item-border-color: var(--#{$variable-prefix}color-border);

      height: 66px;
      padding: 8px;
      border: 1px solid var(--#{$variable-prefix}upload-picture-list-item-border-color);

      @include e(list-icon) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        margin-right: 8px;
        font-size: 1.75em;
      }

      @include e(list-link) {
        line-height: 48px;

        @include font-size(1rem);
      }

      @include e(list-progress-wrapper) {
        bottom: 16px;
        left: 64px;
        width: calc(100% - 74px);
      }
    }

    @include m(error) {
      --#{$variable-prefix}upload-action-color: var(--#{$variable-prefix}color-danger);
      --#{$variable-prefix}upload-action-color-lighter: var(--#{$variable-prefix}color-danger);
      --#{$variable-prefix}upload-picture-list-item-border-color: var(--#{$variable-prefix}color-danger);

      @include e(list-icon) {
        color: var(--#{$variable-prefix}color-danger);
      }

      @include e(list-link) {
        color: var(--#{$variable-prefix}color-danger);
      }
    }
  }

  @include e(list-icon) {
    width: 24px;
    color: var(--#{$variable-prefix}upload-action-color);
  }

  @include e(list-link) {
    @include utils-ellipsis;

    display: inline-block;
    flex: 1 0 0;
    font-size: 0.9em;
    color: var(--#{$variable-prefix}text-color);
    text-decoration: none;

    @include when(active) {
      color: var(--#{$variable-prefix}color-primary);
    }
  }

  @include e(list-actions) {
    margin-left: auto;
    opacity: 0;
    transition: opacity var(--#{$variable-prefix}animation-duration-base) linear;
  }

  @include e(list-progress-wrapper) {
    position: absolute;
    bottom: -4px;
    left: 24px;
    width: calc(100% - 24px);
    height: 2px;
  }

  @include e(picture) {
    --#{$variable-prefix}upload-action-color: #{map.get($colors, 'white')};
    --#{$variable-prefix}upload-action-color-lighter: #{map.get($colors, 'white')};
    --#{$variable-prefix}upload-action-background-color-hover: var(--#{$variable-prefix}background-color-light-hover);

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @include e(picture-item) {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 104px;
    padding: 8px;
    margin: 0;
    vertical-align: top;
    background-color: var(--#{$variable-prefix}background-color-gray);
    border: 1px solid var(--#{$variable-prefix}color-border);

    &:hover {
      @include e(picture-actions) {
        opacity: 1;
      }
    }

    @include when(disabled) {
      pointer-events: none;
    }

    @include m(button) {
      --#{$variable-prefix}upload-action-color: #{map.get($colors, 'white')};
      --#{$variable-prefix}upload-action-color-lighter: #{map.get($colors, 'white')};
      --#{$variable-prefix}upload-action-background-color-hover: var(--#{$variable-prefix}background-color-light-hover);

      cursor: pointer;
      border-style: dashed;
      outline: none;
      transition: border-color var(--#{$variable-prefix}animation-duration-base) linear;

      &:not(.#{$variable-prefix}upload__picture-item--error):hover,
      &:not(.#{$variable-prefix}upload__picture-item--error):focus {
        border-color: var(--#{$variable-prefix}color-primary);
      }
    }

    @include m(load) {
      background-color: transparent;
    }

    @include m(error) {
      border-color: var(--#{$variable-prefix}color-danger);

      @include e(picture-name) {
        color: var(--#{$variable-prefix}color-danger);
      }
    }
  }

  @include e(picture-name) {
    @include utils-ellipsis;

    max-width: 100%;
    margin-top: 8px;
    font-size: 0.9em;
  }

  @include e(picture-text) {
    margin-bottom: 8px;
    font-size: 0.9em;
  }

  @include e(picture-actions) {
    position: absolute;
    inset: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--#{$variable-prefix}upload-background-color-mask);
    opacity: 0;
    transition: opacity var(--#{$variable-prefix}animation-duration-base) linear;
  }

  @include e(picture-button-icon) {
    font-size: 1.1em;
  }

  @include e(picture-button-text) {
    margin-top: 8px;
    font-size: 0.9em;
  }
}
