@import '~rfs/scss';

.hamburger {
  position: relative;

  width: 28px;
  height: 22px;

  cursor: pointer;

  .line {
    position: absolute;
    left: 0;

    display: block;
    width: 28px;
    height: 2px;
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    border-radius: 2px;

    background-color: var(--d-text-color);
    transform-origin: center center;

    /* stylelint-disable-next-line declaration-property-value-disallowed-list */
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
      top: 2px;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 18px;
    }
  }

  &.is-active {
    .line {
      background-color: var(--d-color-primary-lighter);
    }

    .line:nth-child(1) {
      top: 10px;

      transform: rotate(45deg);
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(3) {
      top: 10px;

      transform: rotate(-45deg);
    }
  }
}

.app-header {
  position: relative;
  z-index: 910;

  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 20px;

  background-color: var(--app-header-background-color);

  &.is-shadow {
    box-shadow: 0 2px 8px 0 var(--d-shadow-color);
  }

  .app-header__menu-button {
    margin-right: auto;
    padding: 4px;
  }

  .app-header__logo-container {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
  }

  .app-header__title {
    margin-left: 8px;

    font-weight: bold;
    @include font-size(1.5rem);
  }

  .app-header__button {
    margin-left: 12px;

    border: 1px solid var(--d-border-color);
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    border-radius: 8px;
  }
}
