@include b(detail-view) {
  @include m(vertical) {
    @include e(item) {
      flex-direction: column;
    }

    @include e(item-label) {
      &::after {
        content: none;
      }
    }
  }

  @include e(item) {
    display: inline-flex;
    gap: 8px 12px;

    @include m(center) {
      align-items: center;
    }
  }

  @include e(item-label) {
    flex-shrink: 0;
    color: var(--#{$rd-prefix}text-color-sub);

    &::after {
      margin-left: 2px;
      content: ':';
    }
  }

  @include e(item-content) {
    word-break: break-all;
  }
}
