@include b(detail-view) {
  @include m(vertical) {
    @include e(item) {
      flex-direction: column;
    }

    @include e(item-label) {
      margin-right: 0;
      margin-bottom: 2px;
      font-size: 0.775em;

      &::after {
        content: none;
      }
    }
  }

  @include e(item) {
    display: inline-flex;

    @include m(center) {
      align-items: center;
    }
  }

  @include e(item-label) {
    flex-shrink: 0;
    margin-right: 12px;
    color: var(--#{$rd-prefix}text-color-sub);

    &::after {
      margin-left: 2px;
      content: ':';
    }
  }

  @include e(item-content) {
    flex-grow: 1;
    word-break: break-all;
  }
}
