@include b(list) {
  padding: 0;
  margin: 0;
  list-style: none;

  @include e(item) {
    display: flex;
    padding: 12px 0;
  }

  @include e(avatar) {
    margin-right: 12px;
  }

  @include e(content) {
    flex: 1 0 0;
  }

  @include e(title) {
    font-weight: 500;
  }

  @include e(subtitle) {
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    font-size: 10px;
    color: var(--#{$rd-prefix}text-color-sub);
  }

  @include e(description) {
    margin-top: 4px;
    color: var(--#{$rd-prefix}text-color-sub);
  }
}
