@include b(md-route) {
  @include e(anchor) {
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 910;
    width: 168px;
  }

  @include e(anchor-toggler) {
    @include utils-button;

    position: fixed;
    right: 20px;
    bottom: 44px;
    z-index: 910;
    flex-direction: column;
    gap: 2px 0;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    color: var(--d-color-primary-lighter);
    background-color: var(--app-anchor-toggler-color);
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 20px 2px var(--d-shadow-color);
  }
}
