@import '~rfs/scss';

.app-route-article__anchor {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 910;

  width: 168px;

  .d-anchor-link > a {
    padding: 4px 0;
  }
}

.app-route-article__anchor-conatiner {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 909;

  width: 100%;
  height: calc(100% - 64px);
  padding: 20px;
  overflow: auto;

  background-color: var(--d-background-color);
}

.app-route-article__anchor-button {
  position: fixed;
  right: 20px;
  bottom: 44px;
  z-index: 910;

  display: flex;
  flex-direction: column;
  gap: 2px 0;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  color: var(--d-color-primary-lighter);

  background-color: var(--d-color-step-800);
  box-shadow: 0 2px 20px 2px var(--d-shadow-color);

  appearance: none;
}
