*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0; // 1

  color: var(--d-text-color);
  font-weight: 400;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  text-align: null;

  background-color: white; // 2
  text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%); // 4

  @include font-size(1rem);

  .app-main {
    position: absolute;
    right: 0;
    bottom: 0;

    width: calc(100% - 260px);
    height: calc(100% - 64px);
    padding: 32px 200px 32px 64px;

    overflow: auto;
  }
}

// demo general style
.app-demo-menu:not(.is-horizontal) {
  border-right: 1px solid var(--d-divider-color);
}

.app-demo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;

  color: #fff;

  background-color: var(--d-color-primary);

  @include font-size(0.8rem);
}
