/* stylelint-disable declaration-property-value-allowed-list */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0; // 1

  color: var(--d-text-color);
  font-weight: 400;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  text-align: null;

  background-color: #fff; // 2
  text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%); // 4

  @include font-size(1rem);
}

.app-main {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;
  height: calc(100% - 64px);
  padding: 20px;

  overflow: auto;
}

@media (min-width: 768px) {
  .app-main {
    width: calc(100% - 260px);
    padding: 32px 200px 32px 64px;
  }
}

.app-icon-button {
  color: var(--d-color-step-400);

  cursor: pointer;

  transition: color 0.1s linear;

  user-select: none;

  &:hover {
    color: var(--d-color-primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .anchor {
    display: inline-block;
    margin-left: 8px;

    color: var(--d-color-primary);
    text-decoration: none;

    opacity: 0;

    transition: opacity 0.2s linear;

    &:focus-visible {
      outline: none;
      opacity: 1;
    }
  }

  &:hover .anchor {
    opacity: 1;
  }
}

code {
  word-break: break-all;
}

pre > code {
  font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre > code.hljs {
  background-color: var(--app-code-background-color) !important;
}

code:not(.hljs) {
  margin: 0 1px;
  padding: 4px 6px;
  border-radius: 2px;

  font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  background-color: var(--app-code-background-color) !important;
}

h1 {
  margin: 8px 0 20px;

  font-weight: 500;
  @include font-size(2rem);
}

h2 {
  margin: 38px 0 20px;

  font-weight: 500;
  @include font-size(1.5rem);
}

h3 {
  margin: 28px 0 12px;

  font-weight: 500;
  @include font-size(1.25rem);
}

.app-table-container {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    min-width: 1200px;
    margin: 8px 0 16px;
    border: 1px solid var(--d-border-color);
    border-collapse: collapse;
    border-spacing: 0;

    word-break: break-all;

    table-layout: fixed;

    empty-cells: show;

    th {
      font-weight: 500;
      white-space: nowrap;

      background: var(--app-th-background-color);
    }

    th,
    td {
      padding: 16px 24px;
      border: 1px solid var(--d-divider-color);

      text-align: left;
    }

    th:nth-of-type(1) {
      width: 260px;

      white-space: nowrap;
    }

    th:nth-of-type(2) {
      width: calc(100% - 720px);
    }

    th:nth-of-type(3) {
      width: 300px;
    }

    th:nth-of-type(4) {
      width: 160px;
    }

    td:nth-of-type(1),
    td:nth-of-type(3),
    td:nth-of-type(4) {
      font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    }
  }
}

// demo general style
.app-component-route-article__demos {
  section[id^='Button'],
  section[id^='Dropdown'],
  section[id^='Tooltip'],
  section[id^='Toast'],
  section[id^='Notification'] {
    .d-button {
      margin-right: 8px;
      margin-bottom: 12px;

      &.d-button--block {
        margin-right: 0;
      }
    }

    .d-button-group {
      margin-right: 8px;
      margin-bottom: 12px;

      .d-button {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  .d-menu:not(.d-menu--horizontal) {
    width: 320px;
    max-width: 100%;
    border-right: 1px solid var(--d-divider-color);
  }

  .d-row + .d-row {
    margin-top: 12px;
  }
}

.app-demo-drag {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;

  color: #fff;

  background-color: var(--d-color-primary);

  & + &,
  & + .app-demo-drag-placeholder,
  .app-demo-drag-placeholder + & {
    margin-top: 8px;
  }
}

.app-demo-drop {
  display: inline-block;
  padding: 12px;
  border: 1px dashed var(--#{$variable-prefix}border-color);

  &.app-demo-drop--horizontal {
    display: inline-flex;
    align-items: center;

    .app-demo-drag + .app-demo-drag,
    .app-demo-drag + .app-demo-drag-placeholder,
    .app-demo-drag-placeholder + .app-demo-drag {
      margin-top: 0;
      margin-left: 8px;
    }
  }
}

.app-demo-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;

  color: #fff;

  background-color: var(--d-color-primary);
}

.app-demo-col--lighter {
  background-color: var(--d-color-primary-lighter);
}

.app-demo-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
