*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
  color: var(--d-text-color);
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  background-color: #fff;
  text-size-adjust: 100%;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  @include font-size(1rem);
}

.app-main {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 64px);
  padding: 20px;
  overflow: auto;
}

@media (min-width: 768px) {
  .app-main {
    width: calc(100% - 260px);
    padding: 32px 200px 32px 64px;
  }
}

.app-icon-button {
  color: var(--d-color-icon-decorator);
  cursor: pointer;
  user-select: none;
  transition: color var(--d-animation-duration-base) linear;

  &:hover {
    color: var(--d-color-primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .anchor {
    display: inline-block;
    margin-left: 8px;
    color: var(--d-color-primary);
    text-decoration: none;
    opacity: 0;
    transition: opacity var(--d-animation-duration-base) linear;

    &:focus-visible {
      opacity: 1;
    }
  }

  &:hover .anchor {
    opacity: 1;
  }
}

code {
  word-break: break-all;
}

pre > code {
  font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre > code.hljs {
  background-color: var(--app-code-background-color) !important;
}

code:not(.hljs) {
  padding: 4px 6px;
  margin: 0 1px;
  font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: var(--app-code-background-color) !important;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  border-radius: 2px;
}

h1 {
  margin: 8px 0 20px;
  font-weight: 400;
  @include font-size(2rem);
}

h2 {
  margin: 38px 0 20px;
  font-weight: 400;
  @include font-size(1.5rem);
}

h3 {
  margin: 28px 0 12px;
  font-weight: 400;
  @include font-size(1.25rem);
}

.app-table-container {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    min-width: 1200px;
    margin: 8px 0 16px;
    word-break: break-all;
    table-layout: fixed;
    empty-cells: show;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid var(--d-color-border);

    th {
      font-weight: 400;
      white-space: nowrap;
      background: var(--app-th-background-color);
    }

    th,
    td {
      padding: 16px 24px;
      text-align: left;
      border: 1px solid var(--d-color-divider);
    }

    th:nth-of-type(1) {
      width: 260px;
      white-space: nowrap;
    }

    th:nth-of-type(2) {
      width: calc(100% - 720px);
    }

    th:nth-of-type(3) {
      width: 300px;
    }

    th:nth-of-type(4) {
      width: 160px;
    }

    td:nth-of-type(1),
    td:nth-of-type(3),
    td:nth-of-type(4) {
      font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    }
  }
}

// demo general style
.app-component-route-article__demos {
  &:not([data-demo='Form']) {
    .d-compose:not(.d-radio-group) {
      margin-right: 8px;
      margin-bottom: 12px;
    }
  }

  .d-radio-group {
    margin-bottom: 16px;
  }

  section[id='FormSupportComponentsDemo'] {
    .d-radio-group {
      margin-bottom: unset;
    }
  }

  section[id^='Compose'],
  section[id^='Cascader'],
  section[id^='Select'] {
    .d-select,
    .d-cascader {
      width: 400px;
    }
  }

  section[id^='Button'],
  section[id^='Dropdown'],
  section[id^='Notification'],
  section[id^='Toast'],
  section[id^='Modal'],
  section[id^='Stepper'] {
    .d-button {
      margin-right: 8px;
      margin-bottom: 12px;
    }

    .d-button--block {
      margin-right: 0;
      margin-bottom: 10px;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .d-compose {
      .d-button {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  @each $id,
    $selector
      in (
        'Tag': 'tag',
        'Select': 'select',
        'Cascader': 'cascader',
        'Radio': 'radio',
        'Input': 'input',
        'Switch': 'switch',
        'Time-picker': 'time-picker',
        'Date-picker': 'date-picker',
        'Auto-complete': 'input',
        'Image': 'image'
      )
  {
    section[id^='#{$id}'] {
      .d-#{$selector} {
        margin-right: 8px;
        margin-bottom: 12px;
      }

      .d-compose {
        .d-#{$selector} {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  section[id^='Menu'] {
    .d-menu:not(.d-menu--horizontal) {
      width: 320px;
      max-width: 100%;
      border-right: 1px solid var(--d-color-divider);
    }
  }

  section[id^='Checkbox'] {
    .d-checkbox {
      margin-right: 8px;
      margin-bottom: 12px;
    }

    .d-checkbox-group {
      .d-checkbox {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  section[id^='Form'] {
    .d-form--inline {
      min-width: 800px;
    }
  }

  section[id^='Progress'] {
    .d-progress--dashboard,
    .d-progress--circle {
      margin-right: 8px;
      margin-bottom: 12px;
    }
  }

  section[id^='Badge'] {
    .d-badge__container {
      margin-right: 24px;
      margin-bottom: 12px;
    }
  }

  section[id^='Avatar'] {
    .d-avatar {
      margin-right: 24px;
      margin-bottom: 12px;
    }
  }

  section[id^='Alert'] {
    .d-alert {
      margin-bottom: 20px;
    }
  }

  section[id^='Transfer'] {
    .d-transfer {
      min-width: 400px;
    }
  }

  section[id^='Stepper'] {
    .d-stepper:not(.d-stepper--vertical) {
      min-width: 600px;
    }
  }
}

.app-demo-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  color: #fff;
  background-color: var(--d-color-primary);
}

.app-demo-col--lighter {
  background-color: var(--d-color-primary-lighter);
}

.app-demo-badge {
  display: inline-block;
  width: 52px;
  height: 52px;
  text-align: center;
  background: var(--d-background-color-primary);
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  border-radius: 6px;
}

.app-demo-container {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.app-demo-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  color: #fff;
  background: rgb(54 77 121);
}
