/* stylelint-disable declaration-property-value-allowed-list */
:root {
  --app-th-background-color: #f9f9f9;
  --app-code-background-color: #f2f4f5;
  --app-demo-box-background-color: #fff;
  --app-header-background-color: #fff;
  --app-anchor-button-color: #3b3b3e;
}
