@mixin b($block) {
  $B: $rd-block-prefix + '-' + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;
  $selector: &;
  $currentSelector: '';
  @each $unit in $element {
    $currentSelector: #{$currentSelector + '.' + $B + $rd-element-separator + $unit + ','};
  }

  @if hitAllSpecialNestRule($selector) {
    @at-root {
      #{$selector} {
        #{$currentSelector} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      #{$currentSelector} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: '';
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + $rd-modifier-separator + $unit + ','};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

// Signify that a class is responsible for adding a Theme to a view.
@mixin theme($theme) {
  @at-root {
    &.#{$rd-theme-prefix + $theme} {
      @content;
    }
  }
}

// Signify that the piece of UI in question is currently
// styled a certain way because of a state or condition.
@mixin when($state) {
  @at-root {
    &.#{$rd-state-prefix + $state} {
      @content;
    }
  }
}
