@mixin compose-item($not-disabled: ':not(.is-loading)') {
  $selector: &;
  $compose-selector: '.#{$variable-prefix}compose';

  @at-root {
    #{$compose-selector} {
      #{$selector}#{$not-disabled}:hover,
      #{$selector}#{$not-disabled}:focus {
        z-index: var(--#{$variable-prefix}hover-z-index) !important;
      }

      #{$selector}#{$not-disabled}:active {
        z-index: var(--#{$variable-prefix}active-z-index) !important;
      }
    }
  }
}
