@mixin form-validate() {
  $selector: &;
  $form-item-selector: '.#{$variable-prefix}form-item';

  @at-root {
    #{$form-item-selector} {
      @include when(pending) {
        #{$selector}.is-pending {
          z-index: var(--#{$variable-prefix}zindex-active) !important;

          border-color: var(--#{$variable-prefix}border-color) !important;
        }
      }

      @include when(error) {
        #{$selector}.is-invalid {
          z-index: var(--#{$variable-prefix}zindex-active) !important;

          border-color: var(--#{$variable-prefix}color-danger) !important;
          caret-color: var(--#{$variable-prefix}color-danger) !important;
        }
      }
      @include when(warning) {
        #{$selector}.is-invalid {
          z-index: var(--#{$variable-prefix}zindex-active) !important;

          border-color: var(--#{$variable-prefix}color-warning) !important;
          caret-color: var(--#{$variable-prefix}color-warning) !important;
        }
      }
    }
  }
}
