@mixin form-warning() {
  &[data-form-item-warning='true'] {
    @content;
  }
}

@mixin form-error() {
  &[data-form-item-error='true'] {
    @content;
  }
}

@mixin form-validate() {
  @include form-warning {
    border-color: var(--#{$variable-prefix}color-warning) !important;
    caret-color: var(--#{$variable-prefix}color-warning) !important;
  }

  @include form-error {
    border-color: var(--#{$variable-prefix}color-danger) !important;
    caret-color: var(--#{$variable-prefix}color-danger) !important;
  }
}
