@mixin utils-ellipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin utils-disabled($background: false, $disabled: '.is-disabled') {
  &#{$disabled} {
    color: var(--#{$variable-prefix}disabled-color);

    cursor: not-allowed;

    @if $background {
      background-color: var(--#{$variable-prefix}disabled-background-color);
    }
  }
}

@mixin utils-loading($border: '0') {
  &::after {
    position: absolute;
    top: -#{$border};
    right: -#{$border};
    bottom: -#{$border};
    left: -#{$border};

    border-radius: inherit;

    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    background-color: rgb(255 255 255 / 30%);

    content: '';
  }
}

@mixin utils-break-word {
  $selector: &;

  overflow-wrap: break-word;

  @at-root {
    body.CJK #{$selector} {
      word-break: break-all;
    }
  }
}

@mixin utils-outline($disabled: '.is-disabled') {
  outline: none;

  @if $disabled {
    &:not(#{$disabled}) {
      &:focus-visible {
        outline: 1px dashed var(--#{$variable-prefix}color-primary);
      }
    }
  } @else {
    &:focus-visible {
      outline: 1px dashed var(--#{$variable-prefix}color-primary);
    }
  }
}
