@mixin utils-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  outline: none;
  appearance: none;
}

@mixin utils-input {
  font: inherit;
  letter-spacing: inherit;
  outline: none;
  appearance: none;
  caret-color: var(--#{$variable-prefix}color-primary);
}

@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin utils-loading($border: '0') {
  pointer-events: none;

  &::after {
    position: absolute;
    inset: -#{$border};
    content: '';
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    background-color: rgb(255 255 255 / 30%);
    border-radius: inherit;
  }
}

@mixin utils-break-word {
  $selector: &;

  overflow-wrap: break-word;

  @at-root {
    body.CJK #{$selector} {
      word-break: break-all;
    }
  }
}
