@mixin utils-button($outline: false) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  appearance: none;

  @if $outline == false {
    outline: none;
  }
}

@mixin utils-input {
  font: inherit;
  letter-spacing: inherit;
  outline: none;
  appearance: none;
  caret-color: var(--#{$rd-prefix}color-primary);
}

@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
