@keyframes wave-wave {
  0% {
    box-shadow: 0 0 0 0 var(--#{$variable-prefix}wave-color);
  }

  100% {
    box-shadow: 0 0 0 6px var(--#{$variable-prefix}wave-color);
  }
}

@keyframes wave-fade-out {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

@include b(mask) {
  position: absolute;
  inset: 0;
  background-color: var(--#{$variable-prefix}mask-background-color);
}

@include b(wave) {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  animation: wave-wave 0.4s cubic-bezier(0.08, 0.82, 0.17, 1), wave-fade-out 2s cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-fill-mode: both;
}

@include b(focus-outline) {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border: 1px dashed var(--#{$variable-prefix}color-primary-lighter);
}
