@include b(back-top) {
  @include utils-button;

  position: absolute;
  right: 80px;
  bottom: 60px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: map.get($colors, 'white');
  background-color: var(--#{$variable-prefix}back-top-background-color);
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 var(--#{$variable-prefix}shadow-color);
  transition: background-color var(--#{$variable-prefix}animation-duration-base) linear;

  &:hover {
    background-color: var(--#{$variable-prefix}back-top-background-color-hover);
  }
}
