@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@include b(spinner) {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  overflow: hidden;
  color: var(--#{$variable-prefix}color-primary);
  background-color: rgb(var(--#{$variable-prefix}background-color-rgb) / 80%);

  @include e(container) {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  @include e(icon) {
    display: inline-flex;
  }

  @include e(spinner) {
    animation: spin 2s linear infinite;

    circle {
      animation: spinner-dash 1.5s ease-in-out infinite;
    }
  }

  @include e(text) {
    margin-top: 8px;
  }
}
