@include b(textarea) {
  @include utils-input;

  display: block;
  width: 100%;
  padding: 3px calc(var(--#{$variable-prefix}horizontal-space-size) - 1px);
  margin: 0;
  color: var(--#{$variable-prefix}text-color);
  resize: vertical;
  background-color: var(--#{$variable-prefix}background-color-input);
  border: 1px solid var(--#{$variable-prefix}color-border);
  border-radius: var(--#{$variable-prefix}border-radius);
  transition: border-color var(--#{$variable-prefix}animation-duration-base) linear;

  &[data-form-invalid-warning='true'] {
    border-color: var(--#{$variable-prefix}color-warning) !important;
    caret-color: var(--#{$variable-prefix}color-warning) !important;
  }

  &[data-form-invalid-error='true'] {
    border-color: var(--#{$variable-prefix}color-danger) !important;
    caret-color: var(--#{$variable-prefix}color-danger) !important;
  }

  &:hover {
    border-color: var(--#{$variable-prefix}color-primary-lighter);
  }

  &:focus {
    border-color: var(--#{$variable-prefix}color-primary);
  }

  &::placeholder {
    color: rgb(var(--#{$variable-prefix}text-color-rgb) / 40%);
  }

  &:disabled {
    color: var(--#{$variable-prefix}color-disabled);
    pointer-events: none;
    background-color: var(--#{$variable-prefix}background-color-disabled);

    &::placeholder {
      color: rgb(var(--#{$variable-prefix}text-color-rgb) / 10%);
    }
  }

  @include component-size;

  @include e(count) {
    font-variant-numeric: tabular-nums;
    line-height: 28px;
    color: var(--#{$variable-prefix}text-color-sub);
    text-align: right;
  }
}
