@import '~rfs/scss';

.app-demo-box {
  border: 1px solid var(--d-divider-color);

  &.is-active {
    border-color: var(--d-color-primary);
  }

  @include font-size(1rem);

  & + & {
    margin-top: 24px;
  }
}

.app-demo-box__renderer {
  padding: 42px 24px;
  overflow-x: auto;
}

.app-demo-box__info {
  position: relative;

  border-top: 1px solid var(--d-divider-color);
}

.app-demo-box__title {
  position: absolute;
  top: -14px;
  left: 16px;

  padding: 1px 8px;

  background-color: var(--d-background-color);
}

.app-demo-box__description {
  padding: 24px;
}

.app-demo-box__toolbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  border-top: 1px dashed var(--d-divider-color);

  .app-icon-button {
    color: var(--d-color-step-300);

    transition: color 0.1s linear, transform 0.1s linear;

    &:hover {
      color: var(--d-color-primary);

      transform: scale(1.2);
    }

    &:nth-of-type(2) {
      margin-left: 12px;
    }

    &:nth-of-type(3) {
      margin-left: 10px;
    }

    &:nth-of-type(4) {
      margin-left: 12px;
    }
  }
}

.app-demo-box__code {
  border-top: 1px dashed var(--d-divider-color);

  pre {
    margin: 0;
  }

  pre code.hljs {
    padding: 24px;
  }
}
