@import '~rfs/scss';

.app-demo-box {
  background-color: var(--app-demo-box-background-color);
  border: 1px solid var(--d-color-divider);

  @include font-size(1rem);

  &.is-active {
    border-color: var(--d-color-primary);
  }

  & + & {
    margin-top: 24px;
  }
}

.app-demo-box__renderer {
  padding: 42px 24px;
  overflow-x: auto;
}

.app-demo-box__info {
  position: relative;
  border-top: 1px solid var(--d-color-divider);
}

.app-demo-box__title {
  position: absolute;
  top: -14px;
  left: 16px;
  display: flex;
  align-items: center;
  padding: 1px 8px;
  background-color: var(--app-demo-box-background-color);
}

.app-demo-box__description {
  padding: 24px;
}

.app-demo-box__toolbar {
  display: flex;
  gap: 0 12px;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  border-top: 1px dashed var(--d-color-divider);

  .app-icon-button {
    color: var(--d-color-icon-decorator);
    transition: color var(--d-animation-duration-fast) linear, transform var(--d-animation-duration-fast) linear;

    &:hover {
      color: var(--d-color-primary);
      transform: scale(1.2);
    }
  }
}

.app-demo-box__code {
  border-top: 1px dashed var(--d-color-divider);

  pre {
    margin: 0;
  }

  pre > code.hljs {
    padding: 24px;
    background-color: transparent !important;
  }
}
