name: 'Main'
on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.13'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn lint:affected
      - run: yarn lint:style
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.13'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn test:affected
  build-site:
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.13'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn nx build site --configuration=production --skip-nx-cache
      - uses: garygrossgarten/github-action-scp@release
        with:
          local: './dist/packages/site'
          remote: '/usr/local/nginx/html/react-devui.com'
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          rmRemote: true
          dotfiles: true
